{% extends 'base.html.twig' %}
{% set refReduction = { } %}

{% set remise = 0 %}

 {#    {% set refReduction = refReduction|merge({ ('%'~ reduce : 0) }) %} #}
  
		{% block body %}
<div class="container mt-5">
				<div class="row flex-auto justify-content-center">

	        <div class="col-md-6">
						<div class="col">
							<div class="column-left">
							  		
								    {% if bijou.promoIsActive == true %}
		              		<div class="product-promo">
				                <span>{{bijou.labelPromo|capitalize}} </span> <br>
							     	    	{% for option in bijou.optionBijou %}
								    	     {% if loop.first  %}
								              	{% set remise = option.prix * bijou.multiplicate %}
						                    {% set   prixRemise = option.prix - remise %}
											          {% set percent = (prixRemise*100)/ option.prix %}
										          <span>{{percent}} %</span>
									     	  {% endif %}
									        {% endfor %}
											</div>
									  {% endif %}
								
								{% if bijou.filename %}	
									<img id="myImg" src="{{ vich_uploader_asset(bijou, 'imageFile')}}" class="img-modal img" data-toggle="tooltip" title="Agrandir l'image">


									<div class="modal" id="myModalImg">
										<span class="close" class="btn btn-danger">
											<i class="fas fa-times-circle"></i>
										
										</span>
										<img class="modal-content-img" id="modal-img">
										<div class="title-caption">
										<figure>{{bijou.title}}</figure>
										
										</div>
									</div>

								{% endif %}
							</div>

							<div class="col">

								<div id="option" class="carousel slide carousel-fade" data-ride="carousel">
									<h5>
										Autres Modèles
									</h5>
									<ol class="carousel-indicators">
										{% for picture in bijou.pictures %}

											<li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.first %} class="active" {% endif %}></li>
										{% endfor %}
									</ol>
									<div class="carousel-inner">
										{% for picture in bijou.pictures %}
											<div class="carousel-item {% if loop.first %}active{% endif %}" width="220">
												<img class="d-block w-50" src="{{ vich_uploader_asset(picture, 'imageFile')}}" alt="First slide">
												<div class="carousel-caption d-none d-md-block">

													<p>
														{{picture.filename }}
													</p>
												</div>
											</div>
										{% endfor %}
									</div>


								</div>
							</div>
						</div>
	        		</div>
	        		<div class="col-md-6">

						<div class="detail-bijou-container">

							<div class="bijou-attributes content">
								<h1 class="bijou_name">
									{{ bijou.title|upper }}
								</h1>
							</div>
               {% for option in bijou.optionBijou %}
								 
					  
						          	      <div class="prix-bijou row align-content-bottom">
														
												      <div id="promo-prix"   style="margin-left: 25px;"></div>
						                	 <div id="option-prix" style="margin-left: 25px;"></div><div id="prix"></div>
						                   <div id="option-disponible" class="mx-5 mt-2"></div>
								         

							
							</div>
            {% endfor	%}
							<form class="form mb-5 mx-2" id="form-panier" method="get">

								<select class="span1" name="qte" onchange="this.form.submit()">
									{% for i in 1..10 %}
										<option value="{{ i }}">
											{{i }}
										</option>
									{% endfor %}
								</select>
					       
								<select id="select-taille" class="taille mr-5" name="taille"></select>
					
				
								<input type="hidden" id="promo-prix" name="prixPromo" value="">
								<button id="btn-submit-panier" class="btn btn-info btn-panier mx-3" type="submit">
									<i class="fa fa-shopping-bag"></i>
									 Ajouter au panier
								</button>


							</form>

							

								{% if bijou.popuptailles is not empty %}
									<a class="btn btn-secondary mx-1 mb-4" href="#" id="open">
										Trouvez votre taille
									</a>
									<div class="modal-popup" id="modal1">
										<div class="modal-wrapper">
											{% for popuptaille in bijou.popuptailles %}
												<div class="modal-header">
													<h4 class="modal-title" id="titlemodal">
														{{popuptaille.title}}
													</h4>
													<a class="close-modal" href="#">
														<i class="fas fa-times-circle"></i>
														FERMER
													</a>
												</div>
												<div class="modal-dialog">
													{{ popuptaille.popup|raw}}
												</div>

											{% endfor %}
										</div>
									</div>
								{% endif %}

							</div>
							
							<div>


							{% if bijou.propertiesBijou  %}
								<div class=" accordion-content accordion-heading" id="produit-details">
									<div class="panel-heading">
										<a aria-controls="#collapseOne" aria-expanded="false" class="accordion-toggle active" data-toggle="collapse" href="#collapseOne" id="accordion">
											{{'Détail du produit'|upper}}
										
										</a>
									</div>
									<div aria-labelledby="#headingOne" class="collapse show" id="collapseOne">
										<div class="body-text">
											<ul style="color:#000;">

												{% if bijou.propertiesBijou.aimant  is not empty %}
													<li>
														<strong>
															Nombre d'aimants:
														</strong>
														{{ bijou.propertiesBijou.aimant}}
													</li>
												{% endif %}
												{% if bijou.propertiesBijou  is not empty %}
													<li>
														<strong>
															Puissance de l'aimant:
														</strong>
														{{bijou.propertiesBijou.puissanceAimant }}
														tesla
													</li>
												{% endif %}

												{% if bijou.propertiesBijou.revetement is not empty %}
													<li>
														<strong>
															{{bijou.propertiesBijou.revetement}}
														</strong>
													</li>
												{% endif %}
												{% if bijou.propertiesBijou.couleurPierre is not empty %}
													<li>
														<strong>
															Couleur de la pierre:
														</strong>
														{{bijou.propertiesBijou.couleurPierre}}
													</li>
												{% endif %}

												{% if bijou.propertiesBijou.couleur is not empty %}
													<li>
														<strong>
															Couleur
														</strong>
														{{bijou.propertiesBijou.couleur}}
													</li>
												{% endif %}

												{% if bijou.propertiesBijou.finition is not empty  %}
													<li>
														<strong>
															Finition de Surface :
														</strong>
														{{ bijou.propertiesBijou.finition }}
													</li>

												{% endif %}


												{% if bijou.propertiesBijou.autrepropriete is not empty %}
													<li>
														<strong>
															Autres propriètés:
														</strong>
														{{ bijou.propertiesBijou.autrepropriete }}
													</li>
												{% endif %}


												<li id="option-dimensions"></li>

												<li id="option-taille"></li>

												<li id="option-reference"></li>
												<li>


													{% for boutique in bijou.boutiques %}
														<strong>
															{{ boutique.title|capitalize }}
															,
														</strong>
													{% endfor %}
												</li>

											</ul>
										</div>
									</div>
								</div>
							{% endif %}
							<div class="accordion-content accordion-heading" id="accordion">
								<div class="panel-heading-two">		
								
									<a aria-controls="#collapseTwo" aria-expanded="false" class="accordion-toggle active" data-toggle="collapse" href="#collapseTwo">
										{{'Description du produit'|upper }}
							
									</a>

								</div>
								<div aria-labelledby="headingTwo" class="collapse show" id="collapseTwo">
									<div class="body-text">
										{{ bijou.description|raw }}
									</div>
								</div>

							</div>
						</div>
	        		</div>
				</div>
	
</div>
  
		{% endblock %}
		{% block javascripts %}

			{{ parent() }}

			<script>

				/* <![DATA[ */
var context = {{ options|raw}} ;

var promo = {{ promo|raw }};

/*]]>*/
			</script>
			{{ encore_entry_script_tags('option')}}


		{% endblock %}
