{% extends "base.html.twig" %}

		{% block title %}
			Adresse de livraison
		{% endblock %}

		{% block body %}
			<div class="container mt-4">
				<div class="row">
					<h2 class="content">
						Adresse de livraison
					</h2>
				</div>
				<div class="row  mx-5">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

						<div class="col-md-5 mb-3">
							 {% if app.user.addresses|length != 0 %}

								<div class="card-address">
									<form action="{{ path('panier_validation')}}" method="post">


										<div class="card-address-header">
											<h4>Adresse de livraison</h4>
										</div>
										{% for address in user.addresses  %}
											<div class="card-address-body">

												<div class="card-text">
													<label class="label-livraison">
														{{address.lastName}}
														{{address.firstName}}
														<input type="radio" name="livraison" id="optionsRadios1" value="{{ address.id }}" {% if loop.index0 == 0 %} checked="checked" {% endif %}>
														{{ address.street}}
														,
														{{address.cp }}
														{{address.city|upper}}


														<a class="ml-2" href="{{path('livraisonadressesuppression', {'id': address.id } ) }}">
															<i class="fas fa-trash"></i>
														</a>
													</label>
												</div>
											</div>
										{% endfor %}
										<div class="card-address-header">
											<h4>
												Adresse de facturation
											</h4>
										</div>
										{% for address in user.addresses  %}
											<div class="card-address-body">
												<div class="card-text">

													<label class="label-livraison">
														{{address.lastName}}
														{{address.firstName}}
														<input type="radio" name="facturation" id="optionsRadios1" value="{{ address.id }}" {% if loop.index0 == 0 %} checked="checked" {% endif%}>
														{{ address.street}}
														,
														{{ address.cp }}
														{{address.city|upper}}


														<a class="ml-2" href="{{path('livraisonadressesuppression', {'id': address.id } ) }}">
															<i class="fas fa-trash"></i>
														</a>
													</label>
												</div>
											</div>
										{% endfor %}


										<div class="card-footer">
											<button type="submit" class="btn btn-info btn-lg">
												Valider mes adresses
											</button>
										</div>
									</form>

								</div>


						   {% endif %}
					  </div>
				

		
	         {% include 'user/formAddress.html.twig' %}
	      </div>	
				
				<div class="row mx-5">
				<a href="{{path('account_profile')}}" class="btn btn-success"> Retour vers mes renseignements </a>
			  </div>
			    {% endif %}
			</div>
		{% endblock %}
