{% extends "base.html.twig" %}


		{% block title %}	Panier	{% endblock %}
			{% set totalBijou = 0 %}
				{% set totalPrix = 0 %}

		{% block body %}

		  <div class="row mt-4">
       <div class="col-12">
		  	<h1> Votre Panier</h1>
	    </div>
			</div>
	  <div class="row">
		 {% for label, messages in app.flashes %}
         
          
              {% for message in messages %} 
							<div class="col-12 w-100 text-center alert alert-{{ label }}">
                      {{ message}} 
							 </div>
              {% endfor %}
          
        
       {% endfor %}

    
		
	  
			{% if items|length  == 0 %} 
			 
				<div class="col-12 alert alert-success w-100 text-center"> Aucun article dans votre panier</div>
						
   
			
     {% else %}
			 
			   
        				<table class="table table-fluid m-2">
        						<thead class="table-thead">
        								<tr>
                          {% for item in items %}
														
													
        									<th class="th-sm">Référence</th>
        	                 <th class="th-sm"> designation </th>
													 {% if item.bijou.promo == true %}
        									 <th class="th-sm"> Promo </th>
													 {% endif %}
        									<th class="th-sm">  taille </th>
        									<th class="th-sm">	prix	</th>
        									<th class="th-sm">	quantité </th>
        									<th class="th-sm">  Total	</th>
        									<th class="th-sm"> action </th>
                      {% endfor %}
        								</tr>
        						</thead>
        			      <tbody class="table-tbody">
         		    {% for item in items %}
				      <tr>
						    <td>	{{item.reference}}	</td>
					      <td>
						     	{% if item.bijou.filename %}
								 <img class="img-responsive" src="{{vich_uploader_asset(item.bijou, 'imageFile')}}" width="60">
							
							   {% endif %}

						    </td>
	 {% if item.bijou.promo == true %}
                <td>
						     
							    	<span class=" mt-5 p-2 bg-warning rounded-pill text-dark font-weight-bold">
								     	Promo !
								    </span>
							   
							  </td>
								{% endif %}
								{% if item.taille == true %}
						    <td>	{{item.taille}}	</td>
               {% endif %}
						    <td>	{{item.prix}}</td>
						    <td>
						     	<form action={{path('panier_add', {'id': item.id} )}}>
							   	 <select class="span1" name="qte" onchange="this.form.submit()">
								  	 {% for i in 1..10 %}
									  	<option value="{{ i }}" {% if i == panier[item.id] %} selected="selected" {% endif %}>
											  {{i }}
										  </option>
									   {% endfor %}
							  	 </select>
						 	   </form>
						    </td>
                <td> {{item.prix * panier[item.id]}}
					         	{% set  totalBijou = totalBijou + ( item.prix * panier[item.id] )%}
										 </td>
						    <td>
						    	<a href="{{ path('panier_remove', {'id': item.id})}}" class="btn btn-sm btn-danger">
							    	<i class="fas fa-trash"></i>
							    </a>
						    </td>
				    	</tr>
				
					     {% endfor %}
			
               {% if items |length != 0 %}
					    <tr>
				     	  {% set Total = 0 %}	
			  	      {% set Total = totalBijou %}
				 	       <td colspan="12" class="font-weight-bold text-uppercase">
					         <span class="float-lg-right">Total : {{ Total }}€</span>
					      </td>
				      </tr>
		   
			        {% endif %}
			   
		
        					  </tbody>
        		  </table>	

      
			<div class="col-12 mt-4">
			 <a href="{{path('app_homepage')}}" class="btn btn-success mt-2"> Poursuivre vos achats</a>
			 	{% if  items is not empty %}
									<a href="{{path('panier_livraison')}}" class="btn btn-success mt-2 mx-3">
										<i class="fa fa-shopping-basket"></i>
								     Livraison
									</a>
								{% endif %}
			</div>

			
			{% endif %}
</div>
{% endblock %}
