{% extends "base.html.twig" %}
		{% block title %}	Panier	{% endblock %}

			{% set totalBijou = 0 %}
				{% set totalPrix = 0 %}
				{% set refReduction = { } %}
         {% set totalPromo = 0 %}
				  {% set port = 0 %}
         {% set remise = 0 %}
{% for item in items %}
	   {% if item.bijou.promoIsActive == true %}
     {% set port = item.bijou.port %}
									{% endif %}

{% endfor %}

        
		{% block body %}

		  <div class="row">
       <div class="col-12 mt-4">
		  	<h1> Votre Panier</h1>
				 {% for label, messages in app.flashes %}
         
              {% for message in messages %} 
							<div class="col-12 w-100 text-center alert alert-{{ label }}">
                      {{ message}} 
							 </div>
              {% endfor %}
       {% endfor %}
	    </div>
			</div>
	  <div class="row">
		  
			{% if items|length  == 0 %} 
			 
				<div class="col-12 alert alert-success w-100 text-center"> Aucun article dans votre panier</div>
			
     {% else %}
		
			         
        				<table class="table table-fluid">
        						<thead class="table-thead">
        								<tr>
        									<th>Référence</th>
        	                 <th> designation </th>
        									<th>  taille </th>
        									<th>	prix	</th>
        									<th>	quantité </th>
        									<th>  Total	</th>
        									<th> action </th>
                      
        								</tr>
        						</thead>
        			      <tbody class="table-tbody">
         		    {% for item in items %}
				      <tr>
						    <td>	{{item.reference}}	</td>
					      <td>
						     	{% if item.bijou.filename %}
								 <img class="img-responsive img-panier" src="{{vich_uploader_asset(item.bijou, 'imageFile')}}" width="60">
							
							   {% endif %}

						    </td>
							
								{% if item.taille == true %}
						    <td>	{{item.taille}}	</td>
								{% else %}
									<td>      </td>
               {% endif %}
							  	  
								
						
						 {% if item.bijou.promoIsActive == true %}
						  <td> {{item.prix * item.bijou.multiplicate}}	</td>
							  
						 {% else %}
							 <td> {{item.prix}}</td>
						 {% endif %}
									
						    <td>
						     	<form action={{path('panier_add', {'id': item.id} )}}>
							   	 <select class="span1" name="qte" onchange="this.form.submit()">
								  	 {% for i in 1..10 %}
									  	<option value="{{ i }}" {% if i == panier[item.id] %} selected="selected" {% endif %}>
											  {{i }}
										  </option>
									   {% endfor %}
							  	 </select>
						 	   </form>
						    </td>

                <td>  
						
								 {% if  item.bijou.promoIsActive == true  %}
								     
							        	 {% set totalPromo  = ( item.prix * item.bijou.multiplicate) * panier[item.id] %}
							          {{totalPromo}}
											
									
									{% else %}
								        {% set totalBijou =  totalBijou + (item.prix * panier[item.id]) %}
						
										   	 {{totalBijou}}
							
											 {% endif %}
							
										 </td> 
				             {% set port = item.bijou.port %}
						    <td>
						    	<a href="{{ path('panier_remove', {'id': item.id})}}" class="btn btn-sm btn-danger">
							    	<i class="fas fa-trash"></i>
							    </a>
						    </td>
				    	</tr>
				
					     {% endfor %}
			
               {% if items |length != 0 %}
					    <tr>
				     	  {% set Total = 0 %}	
								
								 
			  	      {% set Total = totalBijou + totalPromo + port %}
								
				 	       <td colspan="12" class="font-weight-bold text-uppercase">
					         <span class="float-lg-right">Total : {{ Total }}€</span>
					      </td>
				      </tr>
		   
			        {% endif %}
			   
		
        					  </tbody>
        		  </table>	

      
			<div class="col-12 mt-4">
			 <a href="{{path('app_homepage')}}" class="btn btn-success mt-2"> Poursuivre vos achats</a>
			 	{% if  items is not empty %}
									<a href="{{path('panier_livraison')}}" class="btn btn-success mt-2 mx-3">
										<i class="fa fa-shopping-basket"></i>
								     Livraison
									</a>
								{% endif %}
			</div>

			
			{% endif %}
</div>
{% endblock %}
