{% extends "base.html.twig" %}
{% block title %} Validation de commande {% endblock %}
{% set refReduction = { } %}
{% set totalBijou = 0 %}
{% set totalPromo = 0 %}
{% set prixPromo  = 0   %}
{% set port = 0 %}
         {% set remise = 0 %}
				 {% set quantite = 0 %}
{% block body %}


<div class="row">
   <div class="col-12 mt-5">
     <h2> Validation de votre commande </h2>
     {% for label, messages in app.flashes %}
         
           <div class="col-12 alert alert-{{ label }}">
              {% for message in messages %}
                     <p> {{ message}} </p>
              {% endfor %}
           </div>
        
       {% endfor %}
   </div>
</div>
<div class="row">
  <div class="col-12">
	           {% if commande.commande.optionBijou|length == null %}
                 	  <div class="alert alert-success"> Aucun article dans le panier</div>
						 {% else %}
		      
							<table class="table-fluid text-center">

								<thead class="table-thead">
									<tr>

										<th>Référence</th>
                              <th> Article </th>
										<th>Quantité</th>

									
											<th>Taille</th>
							
										<th>P.U</th>
										<th>Total</th>
                   
									</tr>
								</thead>
           

								<tbody class="table-body"> 
                        {% for optionBijou in commande.commande.optionBijou %} 
                           <tr>
                            
                                <td>{{optionBijou.reference}}</td>
                                <td> <img src="{{vich_uploader_asset(optionBijou.bijou, 'imageFile') }}" width="50"></td>
                                <td> {{optionBijou.quantite}}</td> 
                                <td> {{optionBijou.taille}}</td>
	                               
														
															 	<td>	 
																 		 {% if optionBijou.prix is defined and optionBijou.bijou.promoIsActive == true  %}
																 	{{optionBijou.prix * optionBijou.bijou.multiplicate }}    
																			 
														      	{% else  %}
																  
                                         
															        {{optionBijou.prix }}</td>
																		
					                    {% endif %}
										            
													    	
                                <td> 
														
							             	              {% if optionBijou.bijou.promoIsActive == true%}	
																				     {% set port = optionBijou.bijou.port %}
							                            	 {% set totalPromo =  (optionBijou.prix * optionBijou.bijou.multiplicate) * optionBijou.quantite %}
							                                    {{totalPromo }}

							             			        
							             		    
							                         		{% else  %}
							             	                   {{optionBijou.prix * optionBijou.quantite}}
							                          {% set totalBijou = optionBijou.prix * optionBijou.quantite %}
							             			         	 {% endif %}
							             							
							             			</td>
															
                           </tr>      
				   			       {% endfor %}    
                           
																
							       		 
                        
									
									<tfoot>		
									<tr>
                           <th ></th> 
													 <th> </th> 
													 <th> </th>
													 <th> </th>
													 <th></th>
													   
													 <th align="right"> Port : {{port}} € <br> {{'Total'|upper}}: {{  totalBijou+ totalPromo + port }}€</th>
				                </tr>  
                  </tfoot>           
			                  
								
							</table>


					
  </div>
</div>
<div class="row">
	 <div class="col-3 livraison  bg-light"> 
        <div class="col-12 mb-3">   
			   <h4>Adresse de livraison</h4>
							
							
								{{commande.commande.livraison.firstname}}
								{{commande.commande.livraison.lastname}}
						
								{{commande.commande.livraison.address}}
						
								{{commande.commande.livraison.cp}}
								{{commande.commande.livraison.city}}
							<a href="{{path('account_profile')}}" class="btn btn-warning"> Modifier votre adresse</a>
        </div>
				
				<div class="col-12">
										
				 <h4>Adresse de facturation</h4>
						
					{{commande.commande.facturation.firstname}}
					{{commande.commande.facturation.lastname}}
				
					{{commande.commande.facturation.address}}
			
					{{commande.commande.facturation.cp}}
					{{commande.commande.facturation.city}}	
					<a href="{{path('panier_validation')}}" class="btn btn-warning"> Modifier votre adresse</a>
				</div>
			
    </div>
</div> 

<div class="row mt-5">
			
		 
		<a href="{{path('app_homepage')}}" class="btn btn-info btn-lg m-2 ">
	   	<i class="fa fa-chevron-left"></i> Poursuivre vos achats
		</a>
		<a href="{{path('validation_commande', {'id': commande.id })}}" class="btn btn-success btn-lg m-2 pull-right">
			<img src="{{asset('/build/img/commande-blanc.png')}}" width="30"> Commander
		</a>	
 	
	  <a class="btn btn-danger btn-lg m-2" href="{{path('commande_remove', {'id': commande.id })}}"><i class="fas fa-trash"></i> Annulation Commande</a>
						
</div>
			
{% endif %}


{% endblock %}
