   <div class="col-sm-12">
          
      			     
      			       
      		
      						<div class="card m-3">
      							<div class="card-header bg-card">
      								<a class="text-dark" href="#item" data-toggle="collapse" aria-controls="#item">
      							     Créer une promotion 	
												<i class="fas fa-chevron-down float-right"></i>
      								</a>
      							</div>
      							<div class="card-body collapse" id="item"> 
										{{form_row(form.promoIsActive)}}
										  {{form_row(form.labelPromo)}}
      								{{form_row(form.date_start)}}
											{{form_row(form.date_end)}}
												{{form_row(form.port)}}
													{{form_row(form.multiplicate)}}
													
      							</div>
      						</div>
      			
      			
      			
      				
     
</div>
