
{{ form_start(form) }}
<div class="row flex-row">
    <div class="col-md-6">
          
              {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
               {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
           
       
    </div>
    <div class="col-md-6">
      
            {{form_row(form.imageFile)}}  
            {{form_row(form.prix, { 'attr': {'class': 'form-control'}})}}
              {{form_row(form.nb_users)}}
               {{form_row(form.category)}}
      </div> 
      </row>
      <div class="row">
        <div  id="booking_list" data-prototype="{{form_widget(form.booking.vars.prototype)|e('html_attr')}}">
      			 
      					{% for row in form.booking %}	
      		           {% set date =  row.children.beginAt.vars.value|format_date(pattern="d-MM-Y")%}
      						<div class="card m-3">
      							<div class="card-header bg-card">
      								<a class="text-dark" href="#item-{{date}}" data-toggle="collapse" aria-controls="#item-{{date}}">
      									{{date}}
      								
												<i class="fas fa-chevron-down float-right"></i>
      								</a>
      							</div>
      							<div class="card-body collapse" id="item-{{date}}">
      								{{form_widget(row)}}
      							</div>
      						</div>
      			
      					{% endfor %}
      			
      				
      </div>
       <div class="col-sm-12">
          <h4 class="mt-5">Nombre d'Inscrits</h4>
             <table class="table-fluid ">
                     <thead>
                        <tr>
                          <th>Prénom</th>
                          <th>Nom</th>
                          <th>Email</th>
                          <th>Téléphone</th>
                         
                        </tr>
                     </thead>
                     <tbody>
                     
                        {% for booking in formation.booking %} 
                             {% for user in booking.users %}
                               
                           
                       <tr>
                         <td> {{user.firstname}} </td>
                         <td>  {{user.lastname}}</td>
                         <td> {{user.username}}</td>
                         <td>{{user.phone}}</td>
                         
                      
                       
                           </tr>
                         {% endfor %} 
                      {% endfor %}
                     </tbody>
             </table>
       </div>

   
   <div class="col-sm-12">
  
     
        <a class="btn btn-info" href="{{ path('admin_formation_index') }}"><i class="fa fa-chevron-left"></i> Retour </a>
    
     <button  type="submit"  class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
     </div>
   
{{ form_end(form) }}
</div>
 </div>
