<footer id="footer" class="footer page-footer font-small" >
<div class="row flex-row">
		
				<div class="col-md-3 mx-auto">
					<img class="img img-logo" src="{{logo_site}}" alt="logo site">
				</div>

        <hr class="clearfix w-100 d-md-none">
				<div class="col-md-3 mx-auto">
					<h5 class="font-weight-bold text-uppercase mt-3 mb-1">
						Conditions générales de vente
					</h5>

					<ul class="list-unstyled">
						<li>
							<a href="{{path('envoi_paiement')}}">	Envoi et paiement
							</a>
						</li>
						<li>
							<a href="{{path('droit_retraction')}}">	Droit de rétraction	</a>
						</li>
					</ul>
				</div>

       <hr class="clearfix w-100 d-md-none">
				<div class="col-md-3 mx-auto">
					<h5  class="font-weight-bold text-uppercase mt-3 mb-1">Juridique</h5>
				

					<ul class="list-unstyled">
						<li><a href="{{path('mentions_legales')}}">Mentions légales	</a>
						</li>
						<li>	<a href="{{path('protection_donnees')}}">Protections des données</a>
						</li>
					</ul>
				</div>

        <hr class="clearfix w-100 d-md-none">
				<div class="col-md-3 mx-auto">
					<a  href="{{ path('contact_me')}}">
					   <h5  class="font-weight-bold text-uppercase mt-3 mb-4">	Me contactez !</h5>
					</a>
				</div>
		
</div>
</footer>
