

<footer class="footer" id="footerMenu">
<div class="container-fluid">
<div class="row">
		
				<div class="col-md-2">
					<img class="img img-logo" src="{{logo_site}}" alt="logo site" >
				</div>
					<div class="col-md-2">

        </div>
				<div class="col-md-2">  
				<hr class="clearfix w-100 d-md-none">
					<h5 class="font-weight-bold text-uppercase mt-3 mb-1">
						Conditions générales de vente
					</h5>

					<ul class="list-unstyled">
						<li>
							<a href="{{path('envoi_paiement')}}">	Envoi et paiement
							</a>
						</li>
						<li>
							<a href="{{path('droit_retraction')}}">	Droit de rétraction	</a>
						</li>
					</ul>
				</div>

      
				<div class="col-md-2"> 
				<hr class="clearfix w-100 d-md-none">
					<h5  class="font-weight-bold text-uppercase mt-3 mb-1">Juridique</h5>
				

					<ul class="list-unstyled">
						<li><a href="{{path('mentions_legales')}}">Mentions légales	</a>
						</li>
						<li>	<a href="{{path('protection_donnees')}}">Protections des données</a>
						</li>
					</ul>
				</div>

        
				<div class="col-md-2">
				       <hr class="clearfix w-100 d-md-none">
				       	<a  href="{{ path('contact_me')}}"  data-toggle="modal"  data-target="#modal-response" >
					          <h5  class="font-weight-bold text-uppercase mt-3 mb-4">	Me contactez !</h5>
				       	</a>
		      	<div class="modal modal-container" role="dialog"  id="modal-response">
                       	   
		                                {{ render(controller('App\\Controller\\FrontEnd\\FooterController::contact'))}}	
				                 
				    </div>
				 </div>
</div>

</div>
</footer>
