  <header class="header">
          <a href="#" class="header__icon" id="header__icon"></a>
          <a href="{{path('app_homepage')}}" class="header__logo" id="header_logo">
					 <img class="img_logo" src="{{asset('/build/img/rdv.png')}}" width="30"></a>
          <nav class="menu" id="menu">
           <ul class="menu-left" id="menu-left">
					<li class="has-sub"><a href="{{path('app_homepage')}}" >Présentation</a> </li>
					 <li class="has-sub"><a href="{{path('qui_suis_je')}}" > Qui-suis-je?</a> </li>
           {% for category in categories  %}
             <li class="has-sub"><a href="#">{{category.title}}</a>

						 {% if category.articles|length !=0 %}
               <div class="nav-hub">
							  {% for article in category.articles %}
									<a href="{{path('article_show', {'slug': article.slug})}}"> {{article.title}}</a>
								{% endfor %}
							 
							 </div>
							 

							 {% elseif category.boutiques|length != 0 %}
							  <ul class="nav-boutique" id="navSub">
								 {% for boutique in category.boutiques %}
								 
									 <li class="has-sub"><a href="#">{{boutique.title}}</a>
                     {% if boutique.produits|length != 0 %}
										 <div class="nav-produits">
										 {% for produit in boutique.produits %}
											 <a href="{{path('produit_show', {'boutique': boutique.slug, 'slug': produit.slug })}}">
											 {{produit.title}}</a>
										 {% endfor %}

										 </div>
										 
										 {% endif %}
										 
									
									 </li>
							
								 {% endfor %}
								 	</ul>
							
								{% elseif category.seances|length != 0  %}
						<div class="nav-hub">	 
				
								{% for seance in category.seances %}
                 
								    <a id="menu-link"  href="{{path('seance_show', {'slug':seance.slug})}}">
										{{seance.title}}
									</a>
						
								{% endfor %} 		
								</div>
								{% elseif category.formations|length  != 0 %}
										<div class="nav-hub">	 
								         {% for formation in category.formations %}
													 	      <a id="menu-link"  href="{{path('formation_show', {'slug':formation.slug})}}"> 
										 {{formation.title}} 	</a>
												 {% endfor %}
								 </div>
								{% endif %}
                 
						
						 </li>
           {% endfor %}
				
		     
				
            </ul>
         
          <ul class="menu-right">
					<li class="has-sub">
					  <form class="searchbox" method="get" action="{{path('recherche') }}">
						<input class="searchbox-input" id="recherche" name="motcle" placeholder="Rechercher un bijou..." required type="search">
						<input class="searchbox-submit" type="submit" value="">
						<span class="searchbox-icon"><i class=" fa fa-search"></i></span>
					</form>
         </li>
				 	 <li class="has-sub">
					  	<a  href="{{ path('contact_me')}}"  data-toggle="modal"  data-target="#modal-response" >
					        Me contactez 
				       	</a>	
							</li>
					{#  {% include "recherche/recherche_bijou.html.twig" %}#}
           	{% if is_granted("ROLE_ADMIN") %}	
					<li class="has-sub">
					
				    
						<a href="#" id="sub-menu_user" class="sub_menu_img">
							{% if app.user.filename %}
								<img src="{{vich_uploader_asset(app.user, 'imageFile') }}" alt="" class="rounded-circle" width="30">

							{% else %}
								<img src="{{asset('/media/user_images/ambre.jpg')}}" class="rounded-circle" width="30">
							{% endif %}

		         {{app.user.firstName}} {{app.user.lastName}}
						</a>
						<div class="sub-user-right" id="menu_user_admin">
							<a href="{{path('account_profile')}}" class="">
								Mes renseignements
							</a>
							<a href="{{path('account_logout')}}" class="">
								Déconnexion
							</a>
							<a class="" href="{{path('admin')}}">
								Administration
							</a>
						</div>
            </li>
					{% elseif  is_granted("ROLE_USER") %}
					 <li class="has-sub">
						<a href="#" id="menu_user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{% if app.user.filename %}
								<img src="{{vich_uploader_asset(app.user, 'imageFile') }}" alt="" class="rounded-circle" width="30">

							{% else %}
								<img src="{{asset('/images/users/avatar.png')}}" class="rounded-circle" width="30">
							{% endif %}

							 {{app.user.firstName}} {{app.user.lastName}}
						</a>
						<div class="sub-user-right" id="menu_user" aria-labelledby="menu_user">
							<a href="{{path('account_profile')}}">
								Mes renseignements
							</a>
							<a href="{{path('account_logout')}}">Déconnexion</a>
						</div>
					</li>
			  	{% else %}


					<li class="has-hub">
						<a href="{{path('account_register')}}" class="">
							Inscription
						</a>
					</li>

					<li class="has-sub">
						<a href="{{path('account_login')}}" class="">
							Connexion
						</a>
					</li>

			   	{% endif %}
				 <li class="dropdown">
					{{ render(controller('App\\Controller\\FrontEnd\\PanierController::menu')) }}
			    </li>
          </ul>
          </nav>
        </header>

