		
		<div id="modal-formation" class="modal-formation modal-formation-centered" role="dialog">	 
						
								<div class="modal-content-formation">
									<div class="modal-header">
										<h5 class="modal-title">
											Ecrire un commentaire
										</h5>
											<span id="close-formation" class="close-formation">
											<i class="fas fa-times-circle"></i></span>
									</div>
									<div class="modal-body">
										      <form name="comment" method="post"  action="{{path('seance_show', {slug: seance.slug})}}">
													<div class="form-group">
									                  <h6> {{app.user.firstname}}</h6> 
									      	     <textarea  id="comment_content"  name="comment[content]" placeholder="Votre message(500 caractères max)"  rows=8 columns=10 class="form-control p-3 mb-3" > </textarea>	 
																		  {{form_errors(form.content)}}
										   </div>
										             <input type="number" name="comment[rating]" id="comment_rating" value="{{form.rating|length}}" step="0.5" max="5" placeholder="Note 1 -5" class="form-control p-3 mb-3">
																	  {{form_errors(form.rating)}}
										   <div id="compteur" style="text-align:right">0</div>
									         <input type="hidden" id="comment__token" name="comment[_token]" value="{{ form._token.vars.value }}">
										      <input class="btn btn-success" type="submit" value="Commenter">
										    
                  </form>
									</div>
								</div>

		</div>
					
				
