{% extends "base.html.twig" %}

{% block title %} {{page.title}} {% endblock %}

{% block body %}
 
    <div class="row"> 
      
    

         <img class="images-top img-fluid mt-4" src="{{ vich_uploader_asset(page, 'imageFile')}}" alt="{{page.filename}}">
      </div>
      <div class="row">
      <div class="col-sm-12 col-md-12">
   <h1 class="mt-3">{{page.title }}</h1>
  {% for label, messages in app.flashes %}
   
         
           <div class="alert alert-{{ label }}">
           {% for message in messages %}
             <p> {{ message}} </p>
           {% endfor %}
           </div>
        
      {% endfor %}
      
      </div>
           <div class="col-sm-12 col-md-12">
        
      
         <article class="p-4 w-100">{{ page.description|raw }}</article>
         </div>
    </div>
   
{% endblock %}



