{{ form_start(form) }}
<div class="row flex-row">
  <div class="col-md-6">
    {{ form_row(form.title) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.category, {'attr': {'class' : 'col-6'}}) }}
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    {{ form_row(form.photo)}}
  </div>
</div>
<div class="row flex-fill">
  <div class="col-md-10">
    {{ form_row(form.description)}}
  </div>
</div>
<div class="row ">
  <button class="btn btn-success">
    {{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
