
	<div class="col-sm-6 col-md-4 col-lg-3">
		<div class="card">

					{% if bijou.filename %}
						<img class="card-img" src="{{ vich_uploader_asset(bijou, 'imageFile')}}" alt="{{bijou.filename}}"/>
	{% if bijou.promo  %}
						<div class="product-promo">
							<span>
								Promo
							</span>
							<span>
								15 %
							</span>
						</div>
					{% endif %}
						<div class="image_overlay">
						
							<a class="view_details" href="{{path('bijou_show', { 'slug': bijou.slug })}}">
								Voir détails
							</a>
						</div>
					{% endif %}
				

			<div class="card-body">

						<div class="card-title">
           
							<span class="sub-title uppercase mx-2">{{bijou.title}}</span>
		         {% for option in bijou.optionBijou %}
								 {% if loop.first %}
								 <span class="options-prix font-italic mr-2">{{option.prix|round(2)}}€ </span>
								 {% endif %}
								 {% endfor %}
						<div id="options-taille">
						 {% for option in bijou.optionBijou %}
							{% if option.taille|length != 0 %}
							   
				        <span class="rounded-taille" id="taille-name" data-string="{{option.taille}}">  {{option.taille}}</span>
								
						   {% endif %}
						 	{% endfor %}
								</div>
						
						</div>
						

			</div>

		</div>

	
</div>
