{% extends "base.html.twig" %}

{% block body %}
				<div class="row   mt-4">
				<div class="col-sm-6">
					<h1 class="content">{{ produit.title|upper }} </h1>
					</div>
					<div class="col-sm-6">
					<div class="navigation float-right mx-5 mt-3 ">
                     {{ knp_pagination_render(listeBijoux) }}
          </div>
					</div>
			  </div>
			 
					<div class="row">
							{% for bijou in listeBijoux %}
								{% include 'produits/_card.html.twig' with {bijou: bijou} only %}

							{% endfor %}

						
					</div>
					<div class="row">
					<div class="col-sm-12">
					  {% for des in description %}
							   <h4> {{des.title}}</h4>
								
								    {{des.introduction|raw}}
								
						{% endfor %}
					</div>
					<div class="col-sm-12">
							<div class="navigation float-right mr-5">
                     {{ knp_pagination_render(listeBijoux) }}
          </div>
					</div>
					</div>
        
{% endblock %}
      

