{% extends 'admin_base.html.twig' %}


     {% block title %}Edition  {{booking}} {% endblock %}


{% block body %}
<div class="container">
<div class="row">
    <div class="modal-form col-md-6" aria-hidden="true">
		 <div class="modal-dialog" role="document">
		   
		   <div class="modal-content">
			 <div class="modal-header">
					 <h5 id="modal-title">Modification de la  {{booking.title}} </h5>
                </div>
               <div class="modal-body">
                {{ include('admin/booking/_form.html.twig') }}
           
               </div>
                <div class="modal-footer">
               </div>
             </div>
             </div>
   </div>
  <div class="col-md-6 mt-4">
   

      {% if booking.seanceOption != null  %}
        
                 
          
         <table class="table table-fluid">
            <thead>
               <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Actions</th>
               </tr>
            </thead>
             <tbody>   
        
                  <tr>
                       <td> {{booking.user.lastName}}</td>
                       <td> {{booking.user.firstName }}</td>
                       <td> {{booking.user.email }}</td>
                       <td>{{ booking.user.phone }}</td>
                       <td></td>
                  </tr>
                  
             </tbody>
         
         </table>
                      
                
    {% endif %} 
    </div>
    </div>
    </div>
{% endblock %}
{% block javacript %}
{{ parent() }}
	
			{{ encore_entry_script_tags('optSelect' )}}
			
		
        
		{% endblock %}
