{% extends "admin_base.html.twig" %}
 {% block title %} edition {{user.firstName }}{% endblock %}

{% block body %}
 <div class="container"> 
 <div class="row flex-row">
      
           <div class="card-fluid row">
           <div class="card-body col-md-6">
                <div class="card bg-card p-2 m-2">
               <div class="card-img m-3">
                  <img class="rounded-circle" src="{{vich_uploader_asset(user,'imageFile' )}}" alt="" width="60">
               </div>
                
              <div class="card-text">
                   
                    <p><b> Prénom  : </b> {{ user.firstName }}<p>
                    <p> <b> Nom  : </b>{{ user.lastName }}<p>
                    <p> <b> Email  : </b>{{user.email}}<p>
              </div>
              </div>
                  {% for address in user.addresses %}
                  <div class="card bg-card p-2 m-2">
              <div class="card-text">
                      
                   <p> <b> Rue  : </b>{{address.street}}</p>
                   <p><b> Complément  : </b> {{ address.complement}}</p>
                    <p><b> Code Postal  : </b>{{ address.cp}}</p>
                    <p> {{address.city}}</p>
              </div>
              </div>
                  {% endfor %}
           </div>
           
           <div class="card-body col-md-6 ">
                 <table class="table-fluid">
                    <thead>
                   <tr class="text-center">
                      <td>Numéro </td>
                      <td> Date</td>
                      <td> Article </td>
                      <td> Total de la commande</td>
                      <td> Validée </td>
                   </tr>
               
                    </thead>
                    <tbody >
                        {% for commande in  user.commandes %}
                         <tr class="text-center"> 
                      
                             <td> <a href="{{path('admin_commande_show', {'user' : commande.user.id })}}"> {{ commande.numeroCommande}}</a></td>
                             <td> {{ commande.dateCommande|date('d-m-Y h:i')}}</td>
               
                             <td>  
                             <table class="table-fluid" style="font-size:14px">
                                <thead>
                                    <tr>
                                      <th>Référence</th>
                                      <th>Quantité</th>
                                      <th>Prix U</th>
                                    </tr>
                                </thead>
                                <tbody>  
                                    {% for article in commande.commande.optionBijou %} 
                                      <tr> 
                                            <td > {{ article.reference}} </td>
                                            <td> {{article.quantite}} </td>
                                            <td > {{article.prix}} </td>
                                       </tr>  
                                     {% endfor %}
                                </tbody>
                             </table> 
                         
                             </td>
                             <td> {{ commande.commande.totalCommande }} €</td>
                            <td> {{ commande.valider }} </td>
                         </tr> 
                       {% endfor %}
                    </tbody>
     
                </table>
           
          </div>  
         </div>
 </div>
 
    <div class="row">
    <a href="{{path('admin_users_index')}}" class="btn btn-info mx-4 mt-3"><i class="fa fa-checvron-left"></i>  Retour vers la liste </a>
   </div>
 
</div>

{% endblock %}
