{% extends "admin_base.html.twig" %}
 {% block title %} edition {{user.firstName }}{% endblock %}

{% block body %}
 <div class="container-fluid"> 
 <div class="row">
 <div class="col-sm-3">
  <div class="card">
   <div class="card-img m-3">
     <img class="rounded-circle" src="{{vich_uploader_asset(user,'imageFile' )}}" alt="" width="60">
   </div>
    <div class="card-body">
      <div class="card-text">
        <p>{{ user.firstName }}<p>
        <p>{{ user.lastName }}<p>
        <p>{{user.email}}<p>
      </div>
 
  
      {% for address in user.addresses %}
      <div class="card-text">
       <p> {{address.street}}</p>
       <p> {{ address.complement}}</p>
        <p>{{ address.cp}} {{address.city}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="col-sm-9">
  <div class="card">
     <table class="table table-bordered">
       <thead  style="background: #5a1ca5;">
       <tr class="text-center">
         <td colspan="2">Numéro </td>
         <td colspan="2"> Date</td>
         <td colspan="2"> Article </td>
         <td colspan="2"> Total de la commande</td>
       </tr>
       
       </thead>
      <tbody>
        {% for commande in  user.commandes %}
       <tr class="text-center">
        <td colspan="2">  {{ commande.numeroCommande}}</td>
        <td colspan="2"> {{ commande.dateCommande|date('d-m-Y')}}</td>
        
         <td colspan="2">  
         <table class="table-striped">
         {% for article in commande.commande.optionBijou %}
          <tr> 
          <td colspan="2">{{ article.reference}}</td>
          <td colspan="2">{{article.quantite}}</td>
          <td colspan="2"> {{article.prix}}</td>
          {% endfor %}
          </tr>
          </table>
         </td>
         
        <td> {{ commande.commande.totalCommande }} €</td>
       </tr>
        {% endfor %}
      </tbody>
     
     </table>
   </div>  
 </div>
 </div>

</div>

{% endblock %}
