{% extends "admin_base.html.twig" %}

{% block titte %} les utilisateurs {% endblock %}

{% block body %}
<div class="container">
<div class="row">
 <h1> Les utilisateurs </h1>
  

   <table class="table table-fluid">
    <thead>
     <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Nb commandes</th>
        <th> Action </th>
     </tr>
    </thead>

    <tbody> 
    {% for user in users %}
    <tr>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
   
      {% if user.commandes %}
       <td>  {{user.commandes|length}}
          <a class="btn btn-info mt-1"  href="{{path('admin_commande_show', {'user': user.id})}}" > <i class="fas fa-edit"></i></a></td>
      {% endif %}
        
         <td> 
         <a class="btn btn-info mt-1" href="#" > <i class="fas fa-envelope"></i></a>
         <a class="btn btn-info mt-1" href="{{path('admin_user_edit', {'id': user.id})}}" > <i class="fas fa-edit"></i></a>
         </td>
   
    </tr>
   {% endfor %}
    
    </tbody>
     
   </table> 
     
   
   </div>  
   
 
    <div class="navigation mt-3">
                     {{ knp_pagination_render(users) }}
               </div>
</div>

{% endblock %}
