{% extends "admin_base.html.twig" %}

{% block titte %} les utilisateurs {% endblock %}

{% block body %}
<div class="container">
 <h1> Les utilisateurs </h1>
  
   <table class="table-fluid mmx-2">
    <thead>
     <tr>
        <td>Prénom</td>
        <td>Nom</td>
        <td>Email</td>
        <td>Nombre de commandes</td>
        <td> edition commandes</td>
        <td> Action </td>
     </tr>
    </thead>

    <tbody> 
    {% for user in users %}
    <tr>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
   
      {% if user.commandes %}
       <td>  {{user.commandes|length}} </td>
      {% endif %}
       <td><a href="{{path('admin_commande_show', {'user': user.id})}}" > <i class="fas fa-edit"></i></a></td>
         <td> 
         <a href="#" > <i class="fas fa-envelope"></i></a>
         <a href="{{path('admin_user_edit', {'id': user.id})}}" > <i class="fas fa-edit"></i></a>
     
         </td>
    </tr>
      {% endfor %}
    </tbody>
   
   </table>
   
</div>

{% endblock %}
