	{% extends "admin_base.html.twig" %}

   {% block title %} inscrits Formation {% endblock %}
  
  {% block body %}
  
   <div class="container">
      
  
   <table class="table-fluid mt-3">
        
         <thead>       
            <tr>
               <th>Prénom</th>
               <th>Nom</th>
               <th>Email</th>
               <th>Téléphone</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody> 
        
         
                <h2>Inscrits à la {{formation.title}}</h2>
                {% for booking in formation.booking %}
                    <p><strong> Le {{booking.beginAt|format_date('short')}} de {{booking.beginAt|format_time('short')}}
                     heure à {{booking.endAt|format_time('short')}} heure. </strong> </p>
                {% endfor %}
              
           {% for user in formation.users %}
           <tr>
             <td> {{user.lastName}} </td>
             <td>  {{user.lastname}}</td>
             <td> {{user.username}}</td>
             <td>{{user.phone}}</td>
             <td>
             <a href="{{path('admin_formation_user_delete', {id : user.id}) }}"><i class="fa fa-trash"></i></a>
             </td> 
               </tr>
        {% endfor %}    
    
         </tbody>
         <tfoot>

         
         </tfoot>
      </table> 

   
   </div>
  
  {% endblock %}
