	{% extends "admin_base.html.twig" %}

   {% block title %} inscrits Formation {% endblock %}
  
  {% block body %}
  
   <div class="container">
      
     
   <table class="table-fluid mt-3">
        
         <thead>       
            <tr>
               <th>Prénom</th>
               <th>Nom</th>
               <th>Email</th>
               <th>Téléphone</th>
          
            </tr>
         </thead>
         <tbody> 
           
               {% for formation in formations %}
                  {% for booking in formation.booking %}
                     
                 
                   <h2>Inscrits à la {{booking.title}}</h2>
                    <p><strong> Le {{booking.beginAt|format_date('short')}} de {{booking.beginAt|format_time('short')}}
                     heure à {{booking.endAt|format_time('short')}} heure. </strong> </p>
                  {% endfor %}
           
           {% for user in formation.users %}
           <tr>
             <td> {{user.lastName}} </td>
             <td>  {{user.lastname}}</td>
             <td> {{user.username}}</td>
             <td>{{user.phone}}</td>
            
               </tr>
          {% endfor %}
    {% endfor %}
         </tbody>
         <tfoot>

         
         </tfoot>
      </table> 
  
  
    
   </div>
    
  {% endblock %}
