	{% extends "admin_base.html.twig" %}

   {% block title %} inscrits aux seance {% endblock %}
  
  {% block body %}
  
   <div class="container">
    <h2> Seances</h2>
   <table class="table table-fluid">
    <thead>
       <tr> 
        
            <th>Client</th>
           
            <th>Durée</th>
            <th>Date de début</th>
            <th>Date de fin</th>
              <th>Seance</th>
            <th>Action</th>
       </tr>
    </thead>
     <tbody>  
      {% for seance in seances %} 
  {% for user in seance.users %}  
  {% for option in seance.seanceOptions %}    
  {% for booking in option.bookings %}
    <tr>
 
   <td>       {{user.firstName}} {{user.lastName}} </td>
  
           <td> {{option.duree|format_time('short')}} Heure </td> 
         
        
                  <td> {{booking.beginAt|format_datetime('short') }}</td>
            <td>  {{booking.EndAt|format_datetime('short') }}</td>  
          
        
            
           <td>  {{seance.title}}</td> 
           
    
  
           
              
      
           
               
             </tr>        
              {% endfor %}
              {% endfor %}
        {% endfor %}
           {% endfor %} 
     </tbody>
 
   
   </table>
   
   
   </div>
  
  {% endblock %}
