<div class="col-md-6">
<div class="card m-3">
    <div class="card-header">
             <h5>Date de commande <b style="font-size: 16px";>{{commande.dateCommande|date('d/m/Y')}}  à  {{commande.dateCommande|date('H:i')}}</b> </h5> 
             <h6>Commande n° <b> {{commande.numeroCommande}}</b></h6>
             {% if commande.valider == 1 %}
            <div class="alert alert-success" style="color: #08a32e"><strong> {{'Commande validée '}}</strong></div>
             {% else %}
            <div class="alert alert-warning"><strong> {{'Commande non-validée '}}</strong></div>
            {% endif %}
            <p>
             {% if commande.sendCommande == 0 %}
                <a class="btn btn-info" href="{{path('admin_expedition', {'id': commande.id})}}"> Message expédition commande</a></p>
             {% elseif commande.sendCommande == 1 %}
               
                <div class="alert alert-success" style="color: #08a32e"><strong> {{'Commande expédié'}}</strong></div>
             {% else %}
               <div class="alert alert-success" style="color: #08a32e"><strong> aucune commande</strong></div>
            {% endif %}
             <p> {{ commande.user.lastname}} {{commande.user.firstname}} <br>
                    {{commande.user.email}} <br>   
                    <i class="fa fa-mobile"> </i> {{commande.commande.livraison.phone }} <br>
               
                  <b> <i class="fa fa-truck">   </i>  {{commande.commande.livraison.address }}
                   {{ commande.commande.livraison.cp }}  {{ commande.commande.livraison.city }}</b> <br>

                  <b class="ml-1"> <i class="fa fa-receipt"> </i>  {{commande.commande.facturation.address }}
                   {{ commande.commande.facturation.cp }}  {{ commande.commande.facturation.city }}</b>
                  </p>
               
    </div>
    <div class="card-body">
    
       <table class=" table-fluid">
              <thead>
                <tr>
                  <td>Réference</td>
                  <td>Taille</td> 
                  <td>Quantite</td>
                  <td>Prix</td>
                 
                  <td>Sous Total</td>
                 
               </tr>
              </thead>
              <tbody>
            
             
               {% for option in commande.commande.optionBijou %}
                  <tr> 
                 <td>{{option.reference}} </td>
                 <td> {{option.taille}} </td> 
                  <td> {{option.quantite}} </td>
                 <td>
                       {% if option.bijou.promoIsActive %}
                 
                      {{(option.prix * option.bijou.multiplicate) * option.quantite}}€
                 {% else %}
                    
                 {{option.prix * option.quantite}} € 
                   {% endif %}
                  </td>

                              {% if option.bijou.promoIsActive %}
                 
                    <td>    {{(option.prix * option.bijou.multiplicate) * option.quantite}}€  </td>
                     
                     
                 {% else %}
                    
                <td> {{option.prix * option.quantite}} €  </td>
                   {% endif %}
                  
               </tr>
            {% endfor %}  
            {% for option in commande.commande.optionBijou %}
           
           
            
                 {% if option.bijou.promoIsActive %}
                   {% set port = option.bijou.port %}
                <tr style="background-color:#9f53fc; color:#fff;">  <td colspan="4">frais de livraison</td> <td> {{port}}  € </td>  </tr> 
                 {% endif %}
             
            {% endfor %}
              <tr style="background-color:#9f53fc; color:#fff;">  <td colspan="4">Total de la Commande</td> <td> {{commande.commande.totalCommande }} € </td>
               
             
                
              
              </tbody>
       </table>
          <a class="btn btn-success" href="{{ path('admin_facture_pdf',{'id': commande.id}) }}"> Télécharger</a>
        {#   <a class="btn btn-info" href="{{ path('admin_print_pdf',{'id': commande.id}) }}"> Imprimer</a> #}
    </div>
</div>
</div>
