{% extends "admin_base.html.twig" %}
 {% block title %} Administration {% endblock %}
{% block body %}
<div class="container">
<h1>Administration du site  </h1>

        
  
    <div class="row">
        <div class="col-sm-4 mt-3">
            <div class="card w-100">
                <div class="card-header admin-header">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-stats"></span>
                        Bijoux</h3>
                </div>

                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{path('admin_bijou_index')}}">
                               Nombre de bijoux <span class="rounded-circle bijou">
                                {{ bijouCount }}
                            </span> 
                            </a>
                          

                        </li>

                        <li class="list-group-item">   
                        <p>
                              {% if bijouCount == publishedBijouCount %}
                                Bijoux disponibles <span class="rounded-circle bijoux-dispo">{{ publishedBijouCount }}</span></p>
                               {% else %}
                                 
                                 Bijoux indisponible  <span class="rounded-circle bijoux-indispo">{{ publishedBijouCount }}</span></p>
                              {% endif %}
                         
                         
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mt-3 ">
            <div class="card w-100">


                <div class="card-header admin-header">

                    <h3 class="panel-title center">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Commandes</h3>
                </div>

                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{path('admin_commandes_index') }}">
                                nombre de commandes

                            </a>
                            <span class="rounded-circle commande">{{ commandesCount }}</span>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-3 ">
            <div class="card w-100">


                <div class="card-header admin-header">

                    <h3 class="panel-title center">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Evènements</h3>
                </div>

                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{path('admin_booking_index') }}">
                                  Nombre d'évènements</a>
                            <span class="rounded-circle commande">{{ bookingsCount }}</span>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
        {% if randomBijou.title is defined %}
            <div class="col-sm-3 mt-3  card-block">
                <div class="card">
                    <div class="card-header admin-header">
                        <h3 class="panel-title">{{ randomBijou.title }}</h3>
                    </div>

                    <div class="card-img ">

                        <img src="{{ vich_uploader_asset(randomBijou, 'imageFile') }}" class="img img-fluid"/>

                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            {{ randomBijou.title }}
                        </div>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('admin_bijou_show', {entity: 'Bijou', action: 'show', id: randomBijou.id}) }}" class="btn btn-primary">
                            {{ 'voir les infos' }}
                        </a>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}


</div>
{% endblock %}
