{% extends 'admin_base.html.twig' %}
{% block title %}Liste des Produits
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <h1>Liste des Produits</h1>
    <table class="table table-fluid">
      <thead>
        <tr>
          <th>Id</th>
          <th>Titre</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for produit in produits %}
        <tr>
          <td>
            {{ produit.id }}</td>
          <td>
            {{ produit.title }}</td>
      
          <td>
            {% if produit.photo.filename is defined %}
            <img src="{{ vich_uploader_asset(produit.photo, 'imageFile') }}" width="150">

            {% else %}
            <p> not image </p>

            {% endif %}
          </td>
          <td>
            <a class="btn btn-info" href="{{ path('admin_produit_edit', {'id': produit.id}) }}"><i class="fa fa-edit"></i></a>
             <a class="btn btn-danger" href="{{ path('admin_produit_delete', {'id': produit.id}) }}"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('admin_produit_new') }}"><i class="fas fa-plus-circle"></i> Nouveau</a>
  </div>
</div>
{% endblock %}
