{% extends "base.html.twig" %}

		{% block title %}	Calendrier	{% endblock %}
		{% block stylesheets %}
		 {{ parent()}}
		   {{ encore_entry_link_tags('calendar')}}
		{% endblock %}
		{% block body %}
	
		{% if seanceOption  %}
		<div id="modalForm" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		 <div class="modal-dialog" role="document">
		   
		      <div class="modal-content">
					    <div class="modal-header">
									 <h5 id="modal-title">	Rendez-vous </h5> 
									  <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
							</div>  
						  <form action ="{{path('seance_booking', {'id' :seanceOption.id})}}" method="post" >
	
             <div class="modal-body" id="modalBody">
						       	<ul class=" list-group list-group-horizontal mb-5">
				               	<li class="list-group-item p-2 ml-5">	Seance :	{{ seanceOption.genre}} </li>
				               	<li class="list-group-item  p-2 ml-5">Durée :  {{seanceOption.duree|format_time('medium') }} 	</li>
				               	<li class="list-group-item  p-2 ml-5">Prix :	{{seanceOption.prix}} €</li>
										</ul>

						        <div class="row">
										
										<div class="col-sm-6 mb-2">
										<div class="form-group">
										{{form_start(form)}}
									
									    <label for="user_formation_gender">Civilité</label>
												{% if user.gender is empty %}
										    	{{form_row(form.gender)}}
												{% else %}
												<input type="text" id="user_formation_gender"name="user_formation_gender"  value="{{user.gender}}" class="form-control mb-3">
												{% endif %}
												 <label for="user_formation_firstName">Prénom </label>
												<input type="text" id="user_formation_firstName" name="user_formation_firstName"  value="{{user.firstName}}" class="form-control mb-3">
												 <label for="user_formation_lastname">Nom</label>
											   <input type="text" id="user_formation_lastName" name="user_formation_lastName" value="{{user.lastName}}" class="form-control mb-3">
					               	
					               {{form_row(form.phone)}}
										</div> 
										</div>
										<div class="col-sm-6">
										<div class="form-group">
										  <label  for="beginAt">Date du rendez-vous </label>
												  <input type="datetime" name="booking[beginAt]"  id="beginAt"  data-date=""  class="form-control mb-3" >  
													<label for="user_formation_email">Email</label>
										       <input type="email" name="user_email"  id="user__email" value="{{app.user.email}}" class="form-control mb-3">
													 	{{form_row(form.date_naissance)}}
										</div>
                       
                    
										</div>
                    </div>
                      		
						 </div> 
             <div class="modal-footer">
						 
          			<button type="submit" class="btn btn-success">
							                <i class="fa fa-save"></i> Confirmez
                      		</button>		
								
				   	</div>
						 {{form_end(form)}}
         </div>	
		
		 </div>
		
		
		</div>
{% endif %}
		    <div class="calendar mt-4"  id="calendar-holder" data-events-url="{{ path('fc_load_events') }}">
		
				</div>
</div>

					
      
				{% endblock %}

     {% block javascripts %}
		  {{ parent() }}
			{{ encore_entry_script_tags('calendar')}}
		 
		 {% endblock %}
