{% extends "base.html.twig" %}

		{% block title %}	Calendrier	{% endblock %}
		{% block stylesheets %}
		 {{ parent()}}
		   {{ encore_entry_link_tags('calendar')}}
		{% endblock %}
		{% block body %}
	
		{% if seanceOption  %}
		<div id="modalForm" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		 <div class="modal-dialog" role="document">
		   
		      <div class="modal-content">
					    <div class="modal-header">
									 <h4  id="modal-title">	Rendez-vous {{seanceOption.seance.title}} </h4> 
									  <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
							</div>  
						  <form action ="{{path('seance_booking', {'id' :seanceOption.id})}}" method="post" >
	
             <div class="modal-body" id="modalBody">
						       	<ul class=" list-group list-group-horizontal mb-5 ml-2">
				               	<li class="list-group-item p-2 mr-2">	Seance :	{{ seanceOption.genre}} </li>
				               	<li class="list-group-item  p-2 ml-2">Durée :  {{seanceOption.duree|format_time('medium') }} 	</li>
				               	<li class="list-group-item   p-2 ml-2">Prix :	{{seanceOption.prix}} €</li>
											   <li class="list-group-item pl-0 p-2 ml-2"> 10 seances </li>
										</ul>
	               
						        <div class="row">
										
										<div class="col-sm-6 mb-2">
										<div class="form-group">
									<form action={{ path('seance_booking', {'id' : seanceOption.id})}} method="post">
									
									    <label for="user_seance_user_gender">Civilité</label>
												<input type="text" id="user_seance_user_gender"name="user_seance[user][gender]"  value="{{user.gender}}" class="form-control mb-3">
							
												 <label for="user_seance_user_firstName">Prénom </label>
												<input type="text" id="user_seance_user_firstName" name="user_seance[user][firstName]"  value="{{user.firstName}}" class="form-control mb-3">
												 <label for="user_seance_user_lastname">Nom</label>
											   <input type="text" id="user_seance_user_lastName" name="user_seance[user][lastName]" value="{{user.lastName}}" class="form-control mb-3">
					               	 <label for="user_seance_user_phone">Téléphone</label>
					              <input type="text" id="user_seance_user_phone" name="user_seance[user][phone]"  value = "{{user.phone}}" class="form-control">
										</div> 
										</div>
										<div class="col-sm-6">
										<div class="form-group">
										  <label  for="user_booking[beginAt]">Date du rendez-vous </label>
												  <input type="text" name="booking[beginAt]"  id="beginAt"  data-date=""  class="form-control mb-3" >  
													<label for="user_seance_user_email">Email</label>
										       <input type="email" name="user_seance_user_email"  id="user_seance[user][email]" value="{{app.user.email}}" class="form-control mb-3">
										       

												<label for="user_seance_user_date_naissance">Date Naissance</label>
										<input type="text" id="user_seance_user_date_naissance" name="user_seance[user][date_naissance]" value="{{app.user.dateNaissance|date('Y-m-d')}}" class="form-control mb-3">
										</div>
                       
                    
										</div>
                    </div>
                      		
						 </div> 
						 	
	
             <div class="modal-footer">
						 
          			<button id="modal-submit" type="submit" class="btn btn-success">
							                <i class="fa fa-save"></i> Confirmez
                      		</button>		
								
				   	</div>
				
		 	</form>  

         </div>	
		
		 </div>
		
		
		</div>
{% endif %}

   
		    <div class="calendar mt-4"  id="calendar-holder" data-events-url="{{ path('fc_load_events') }}">
		
				</div>
</div>

					
      
				{% endblock %}

     {% block javascripts %}
		  {{ parent() }}
			{{ encore_entry_script_tags('calendar')}}
		 
		 {% endblock %}
