{{ form_start(form) }}
    {{ form_widget(form) }}

  <a class="btn btn-info" href="{{ path('admin_popup_taille_index') }}"><i class="fa fa-chevron-left"></i> Retour</a>

    
    <button class="btn btn-success"><i class="fa fa-save"> </i> {{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
