{% extends 'admin_base.html.twig' %}

{% block title %}PopupTaille index{% endblock %}

{% block body %}
<div class="container">
<div class="row">
    <h1 class="mx-1">PopupTaille index</h1>

    <table class="table-fluid table-fluid-index">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for popup_taille in popup_tailles %}
            <tr>
                <td>{{ popup_taille.id }}</td>
                <td>{{ popup_taille.title }}</td>
                <td>
                    <a class="btn btn-info mt-2"  href="{{ path('admin_popup_taille_edit', {'id': popup_taille.id}) }}"><i class="fa fa-edit"></i></a>
                   {{ include('admin/popup_taille/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info mx-2 mt-0 mb-2" href="{{ path('admin_popup_taille_new') }}"><i class="fa fa-plus"></i> Nouveau</a>
</div>

{% endblock %}
