{% extends 'admin_base.html.twig' %}

{% block title %}PopupTaille index{% endblock %}

{% block body %}
<div class="container">
    <h1>PopupTaille index</h1>

    <table class="table table-fluid">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for popup_taille in popup_tailles %}
            <tr>
                <td>{{ popup_taille.id }}</td>
                <td>{{ popup_taille.title }}</td>
                <td>
                    <a href="{{ path('admin_popup_taille_edit', {'id': popup_taille.id}) }}"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('admin_popup_taille_delete', {'id': popup_taille.id}) }}"><i class="fas fa-delete"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('admin_popup_taille_new') }}"><i class="fa fa-plus"></i> Nouveau</a>


{% endblock %}
