{% extends "base.html.twig" %}

		{% block title %}
			inscription
			{{formation.title}}
		{% endblock %}

		{% block body %}
			<div class="container">

				<div class="row mt-5">
				

								<h2 id="modal-title">
									{{formation.title}}
								</h2>
							

							</div>
							<div class="modal-body" id="modalBody">
                   <div  class="modal-header mt-0 mb-2">			
									 {% for booking  in formation.booking %}
										Le  {{booking.beginAt|format_date('short')}} de {{booking.beginAt|format_time('short')}} à  {{booking.endAt|format_time('short')}}
										{% endfor %}
									</div>
									<div class="modal-body">
					         <form action="{{path('formation_booking', {'id': formation.id})}}" method="post">
  <div class="row">
							
									<div class="col-sm-6 mb-2">
										<div class="form-group">
								  
													 {{form_row(form.gender , {'attr': {'autocomplete' : 'autocomplete'}})}}
												   {{form_row(form.firstName, {'attr': {'autocomplete' : 'autocomplete'}})}}
													 {{form_row(form.lastName)}}
										</div> 
										</div>
										<div class="col-sm-6">
										<div class="form-group">
												  
												
										        {{form_row(form.email)}}
												      
													  {{form_row(form.date_naissance)}}
													
									
													  {{form_row(form.phone)}}

													
                               
										</div>
                    </div> 
                      		
						 </div> 
             <div class="modal-footer">
						  
          			<button type="submit" class="btn btn-success">
							                <i class="fa fa-save"></i> Confirmez votre inscription
                      		</button>		
								
				   	</div>
				
         
</form>
						</div>
					</div>
				</div>
			{% endblock %}
