{% extends "base.html.twig" %}

		{% block title %}	{{formation.title }}{% endblock %}

		{% block body %}
			
				<div class="row">
				   	{% if formation.filename is defined %}
						<div class="jumbotron" style="background:url({{ vich_uploader_asset(formation, 'imageFile')}}) no-repeat center center;
							    -webkit-background-size: cover;
							    -moz-background-size: cover;
							    -o-background-size: cover;
							     background-size: cover;">
						</div>

					  {% endif %}
				       
					        <div class="col-md-12">
                       <h1 class="mt-3">	{{formation.title }}</h1>  
							         <div class="paragraph-formation">{{formation.description|raw}}</div>
					           </div>
					</div>
					<div class="row">	
    								{% for booking in bookings %}
									
										    <div class="col-lg-6">
												<div class="card card-services">
												   <div class="card-services-header">
													         <h5> {{booking.title}} du	{{ booking.beginAt|format_date( 'full') }} 
								     			         </h5>
													 </div>
													 <div class="card-services-body">
													 	     <div class="card-text">
														              <div class="heure"> Horaire: De  {{booking.beginAt|format_time('medium')}}   à   {{booking.endAt|format_time('medium' )}} Heure</div>
														        	  <div class="prix">	Prix: 	{{booking.formation.prix|format_currency('EUR', {rounding_mode:'floor'} )}}</div>
														          	<div class="dispo"> Place disponibles: 	<div class="badge-dispo">	{{formation.nbUsers }}</div> </div>
											               
														            <div class="inscrits"> Nombre d'incrits: 	
																       			       {% if booking.users|length == 0  %} 
																       			        <div class="badge-inscrit"> 0 </div>
									                                 {% elseif   booking.users|length != 0 %}    
														             		       <div class="badge-warning">
																       						     {{booking.users|length }}</div>
									                        	       {% elseif  formation.nbUsers  == booking.users|length %}
																       						<div class="badge-danger">Complet</div>
										                             {% endif %}
																       	</div>
													        </div>
													       
                            </div>
													  <div class="card-services-footer">
													           	<a href="{{path('formation_booking', {'id': formation.id, 'booking' : booking.id})}}" class="btn btn-rendez-vous">
											                 	S'incrire </a>
													  </div>
												</div>	  
										</div>
    					
    								{% endfor %}
    

					  	 
 
							</div>
							<div class="row">
							<div class="col-sm-12 col-md-12 comments">
										 	<section class="comments" id="comments">
			                
							                     {% include 'comment/formation_comment.html.twig' with { 'comments': formation.comments } %}
						              
					             </section>

											     {% if is_granted("ROLE_FORMATION") %} 
                       <button id="btn_formation" class="btn btn-success">Ecrire  un commentaire</button>	      
											   	<div id="modal-comment" class="modal-comment">
                      	{% include "formations/_formation-form.html.twig" %}
                  </div>    
                   {% else %}    
                        <div class="alert alert-warning"> <strong>Attention Vous ne pouvez écrire un commentaire qu' une fois connecté  </strong>
                                  <a href="{{path('account_login')}}" id="btn-login-form" class="btn btn-primary btn-sm">se connecter </a>
																
																
                       </div>
                  {% endif %}    
				  	  </div>  

				</div>

			{% endblock %}
	
		
