{% extends "base.html.twig" %}
{% block title %} {{article.title}}{% endblock %}
{% block body %}
 
    <div class="row"> 
         <img class="img-fluid img-top images-page" src="{{ vich_uploader_asset(article, 'imageFile')}}" alt="{{article.filename}}">
    </div>
    <div class="row content-page">
        <div class="col-md-12 ">
           <h1 class="mt-3">{{article.title }}</h1>
         </div>
      
       <div class="paragraph">  {{ article.description|raw }}   </div>
    </div>
{% endblock %}


    