{% extends "admin_base.html.twig" %}

		{% block title %}
		
		{% endblock %}

		{% block body %}
	
	<div class="container">
    <div class="row">
					<h1>
						Objet du message :
						 {% if comment.formation %}
						{{comment.formation.title}}
						{% else %}
							 {{comment.seance.title}}
						{% endif %}
					</h1>
					</div>
							<div class="content-message">
					<div class="contact-message mt-5">
						<div class="card-contact">
							<div class="card-header">
								<h4>
									{{comment.createdAt|date('d-m-Y H:i')}}
								</h4>
							</div>
							<div class="card-body">
								<div class="card-text">
									<p>
										<b>
										
										{{comment.user.FirstName}} 			{{comment.user.LastName}} 
										</b>
									</p>
									<p>
										<b>
										{{comment.user.email}}
										</b>
									</p>
								</div>
								<div class="card-text">

									{{ comment.content}}
								</div>
							</div>
							<div class="card-footer">
               {% if comment.commentLu == true %}
							 
                            <a  class="btn  btn-success" href="{{path('admin_comments_list')}}" data-toggle="tooltip" data-placement="bottom"  title="Revenir vers la liste des messages">
														<i class="fa fa-check" ></i> Réponse envoyée
                          
                              </a>
														 {% else %}
								<a  data-toggle="modal"  data-target="#modal-response-{{comment.id}}" class="btn btn-info"  href="{{path('admin_comment_response', {'id': comment.id}) }}"> 
									<i class="fa fa-reply"></i> Répondre
								</a>
								 <a  class="btn  btn-success" href="{{path('admin_comments_list')}}" data-toggle="tooltip" data-placement="bottom"  title="Revenir vers la liste des messages">
								     Revenir vers la liste des commentaires</a>
                {% endif %}
							</div>
   

						</div>
					</div>
     
                    <div class="modal modal-container" role="dialog"  id="modal-response-{{comment.id}}">
                       	   
                            
                      <div class="contact-me">
							    				<div class="card-contact">
				        							<div class="card-header">             
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
												            	<h2 class="text-center font-italic">Réponse	</h2>
                                       
				        							</div>
				        							<div class="card-body-contact">

				        								<form action="{{ path('admin_comment_response', {'id' : comment.id})}}" method="POST">
														<h4 class="mt-3 text-center text-info">
															Object du message :
														 {% if comment.formation %}
						{{comment.formation.title}}
						{% else %}
							 {{comment.seance.title}}
						{% endif %}
														</h4>
										 	<div class="from-group p-4">
															<input name="response[subject]" type="hidden" value="	 {% if comment.formation %}{{comment.formation}}	{% else %} {{comment.seance.title}}
					          	{% endif %}" class="form-control" >
														</div>
														<div class="form-group">
															<input type="text" name="response[firstname] " placeholder="{{comment.user.firstName}}" class="form-control" value="{{comment.user.firstName}}" required>
														</div>
														<div class="form-group">
															<input type="text" name="response[lastname]" placeholder="{{comment.user.lastName}}" class="form-control" value="{{comment.user.lastName}}" required>
														</div>
														<div class="form-group">
															<input type="email" name="response[email]" placeholder="{{comment.user.email}}" class="form-control" value="{{comment.user.email}}" required>
														</div>
														<div class="form-group">
															<textarea rows="8" class="form-control" name="response[message]" required></textarea>
														</div>

              
                               	<button type="submit" class="btn btn-info btn-block rounded-3 py-2 mt-5">
															<i class="fa fa-send" ></i> Envoyer
														</button>
                  
													
				        								</form>
				        							</div>
				        		    				</div>
						             </div>
                      </div> 
                           
                   </div>
				</div>
		</div>
		{% endblock %}
