{% extends 'admin_base.html.twig' %}
{% block title  'Liste des catégories' %}
  {% block body %}
    <div class="container">
      <div class="row">
        <h1 class="mx-3">Liste des catégories</h1>
     
        <table class="table-fluid table-fluid-index">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>actions</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
            <div  data-position="0" data-id="1">
              <tr>
                <td>
                  {{ category.id }}</td>
                <td>
                  {{ category.title }}</td>
                <td>
                  <a class="btn btn-info mt-1" href="{{ path('admin.category.edit', {'id': category.id}) }}"><i class="fa fa-edit" ></i></a>
                  {{include('admin/category/_delete_form.html.twig')}}
                </td>
              </tr>
              </div>
              {% else %}
              <tr>
                <td colspan="4">no records found</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('admin.category.new') }}"><i class="fa fa-plus-circle"></i> Nouveau</a>
      </div>
    </div>
  {% endblock %}
