<!DOCTYPE html lang="fr">
		<html>

			<head>
				<meta name="viewport" content="width=device-width, user-scalable=no"/>

				<meta charset="UTF-8">

				<title>
					{% block title %}	{% endblock %}
				</title>

				{% block stylesheets %}
					<link 	rel="icon" type="image/png" href="{{asset('/build/img/rdv.png')}}"/>
					<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /><![endif]-->
				 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
					{{ encore_entry_link_tags('app')}}
				{% endblock %}

			</head>

			<body>
				<div class="site-container">
				  	<div class="site-pusher">
				    		{{ render(controller('App\\Controller\\FrontEnd\\MenuController::menu', {'limit' : 6})) }}
				    
		
		  			  <div class="site-content">
							{% if app.request.hasPreviousSession %}
							  				{{include ('messages/flash-message.html.twig')}}
							{% endif %}
			             					<a id="button" style="display:block;">
			             						<i class="fa fa-chevron-up"></i>
			             						Haut de page
			             					</a>

								      {% block body %}
									
							        	{% endblock %}
						       
			   <div class="site-cache" id="site-cache"></div>	  		     
				 
				 	</div>	
                  
				 
				  
				       </div>
				 	
	     
				 {% include 'partials/footer.html.twig' %} 
		
				 </div>
				{% block javascripts %}
	        {{ encore_entry_script_tags('app' )}}
					<script src="{{asset('/build/fontawesome/js/all.js')}}"></script>
					
				{% endblock %}
			</body>

		</html>
