	{{ form_start(form) }}
<div class="row">
     <div class="col-sm-6">
		    	{{ form_row(form.title, {'attr' :{'autocomplete': 'autocomplete'}}) }}

          {% include "admin/promo/_promo_form.html.twig" %}
     
     </div>
     <div class="col-sm-6">
			   <h6>	Choisir une boutique</h6>
		    	{{ form_widget(form.boutiques, {'id': 'multiple'} ) }}

			   <h6>Choisir un produit</h6>
			   {{ form_widget(form.produits, {'id': 'optgroup'})}}

			   {{form_label(form.popuptailles)}}
			   {{ form_widget(form.popuptailles, {'id': 'multiple-popup'})}}
     </div>
</div>
<div class="row">
      <div class="col-sm-6">
      			{{ form_row(form.description) }}
      </div>
      <div class="col-sm-6">
      			{{ form_row(form.imageFile)}}
      </div>
</div>
<div class="row">
   <div class="col-sm-12">
			<div class="card">
				<div class="card-header bg-card">
					<a href="#card-body" data-toggle="collapse" class="card-link text-color">
				
					Autres Propiétés 	<i class="fas fa-chevron-down float-right"></i>
					</a>
				</div>

				<div class="card-body collapse" id="card-body">
			 <div class="row">
				 <div class="col-sm-3">
					{{form_row(form.properties_bijou.aimant)}}
					{{form_row(form.properties_bijou.puissance_aimant)}}	
					
					</div>
					<div class="col-sm-3">
					 {{form_row(form.properties_bijou.matiere)}}
						{{form_row(form.properties_bijou.revetement)}}
						</div>
						<div class="col-sm-3">
							{{form_row(form.properties_bijou.finition)}}
								{{form_row(form.properties_bijou.couleur_pierre)}}
					</div>
					<div class="col-sm-3">
						{{form_row(form.properties_bijou.couleur)}}
							{{form_row(form.properties_bijou.autre_propriete)}}
						
					</div>
					</div>

				</div>

			</div>
   </div>

  <div class="col-sm-12">
      <div  id="option_bijou_list" data-prototype="{{form_widget(form.option_bijou.vars.prototype)|e('html_attr')}}">
      			 
      					{% for row in form.option_bijou %}	
      		
      						<div class="card m-3">
      							<div class="card-header bg-card">
      								<a class="text-dark" href="#item-{{row.children.reference.vars.value}}" data-toggle="collapse" aria-controls="#item-{{row.children.reference.vars.value}}">
      									{{row.children.reference.vars.name|capitalize}}
      									:
      									{{row.children.reference.vars.value}}
												<i class="fas fa-chevron-down float-right"></i>
      								</a>
      							</div>
      							<div class="card-body collapse" id="item-{{row.children.reference.vars.value}}">
      								{{form_widget(row)}}
      							</div>
      						</div>
      			
      					{% endfor %}
      			
      				
      </div>
  </div>
</div>
<div class="row">
 <div class="col-sm-12">
	<div class="card">
					<div class="row flex justify-content-start flex-wrap">

						{% for picture in bijou.pictures %}
							<div class="col" style="flex:none; margin:5px; width:100px;">
								<img class="img-thumb border-warning" width="100" src="{{vich_uploader_asset(picture, 'imageFile')}}" alt="">
								<a href="{{path('admin_picture_delete', {'id': picture.id}) }}" class="btn btn-danger" data-delete data-token="{{csrf_token('delete' ~ picture.id)}}">
									<i class="fas fa-trash"></i>
									Supprimer
								</a>
							</div>
						{% endfor %}
					</div>


					<div class="col mt-5">
						<h4 class="justify-content-center">
							Ajouter des images
						</h4>
						{{ form_row(form.pictureFiles)}}
					</div>
				</div>
  </div>
	</div>
</div>
	<div class="row mt-4 mb-3 mx-5">
					<div class="col-sm-3 mb-4">
						<a class="btn btn-primary" href="{{ path('admin_bijou_index') }}">
							<i class="fas fa-chevron-left"></i>
							Retour vers la liste
						</a>
					</div>
					
					<div class="col-sm-3">
						<button type="submit" class="btn btn-success">
							<i class="fas fa-save"></i>
							Enregister
						</button>
					</div>
				</div>
{{ form_end(form) }}
