{% extends 'admin_base.html.twig' %}
{% block title  'Liste des commandes' %}
  {% block body %}
    <div class="container">
      <div class="row">
        <h1>
          Liste des commandes
        </h1>
        </div>
        <div class="row-fluid">
        <table class="table-fluid-commande">
          <thead style="font-size:12px;">
            <tr>
              <th>Id</th>
              <th>Date</th>
             
              <th>Description</th>
               <th> Total</th>
              <th>actions</th>
            </tr>
          </thead>
          <tbody>
            {% for commande in commandes %}
              <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.dateCommande|date('d/m/Y') }}</td>
                <td>
              
                  <table class="table-fluid table-striped">
                  <thead>
                    <tr>
                      <td>Référence</td>
                      <td>Taille</td>
                      <td>Prix</td>
                      <td>Quantite</td>
                      <td>Sous total</td>
                     
                    </tr>
                  </thead>
                  <tbody> 
                  {% for option in commande.commande.optionBijou %}
                   <tr>
                  
                     <td>{{option.reference}}</td>
                     <td>{{option.taille}}</td>
                     <td>{{option.prix}}</td>
                     <td>{{option.quantite}}</td>
                     <td>{{option.prix * option.quantite}}</td>
                   </tr>
                   {% endfor %}
                  </tbody>
                  </table>
                  
                </td>
                <td> {{commande.commande.totalCommande}} € </td>
                  <td>
                    <a class="btn btn-primary" href="{{ path('admin_commande_show', {'user': commande.id}) }}"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" href="{{ path('admin_commande_delete', {'id': commande.id}) }}"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                {% else %}
                <tr>
                  <td colspan="4">no records found</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
     
              <div class="navigation mt-3">
                     {{ knp_pagination_render(commandes) }}
               </div>
      
      </div>
    {% endblock %}
  