	<li class="nav-item dropdown no-arrow mx-1">
							<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-bell fa-fw"></i>
								<!-- Counter - Alerts -->
								<span class="badge badge-danger badge-counter">
						     {{commandesCount}}
								</span>
							</a>
							<!-- Dropdown - Alerts -->
							<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
								<h6 class="dropdown-header">
								Commandes
								</h6>

	{% for commande in commandes %}
    <a class="dropdown-item d-flex align-items-center" href="{{path('admin_commande_show', {'user': commande.user.id})}}">
									<div class="mr-3">
										<div class="bg-light" >
                     {% if commande.user.filename %}
										 <img class="rounded-circle" src={{vich_uploader_asset(commande.user, 'imageFile')}} width="30">
                     {% else %}
                       <img class="rounded-circle" src="{{asset('/images/users/avatar.png')}}" width="30" >
                     {% endif %}
										</div>
									</div>
									<div>
										<div class="small text-gray-500">
											{{ commande.dateCommande|date('d/M/Y H:i') }}
										</div>
										<span class="font-weight-bold">
											 {{ commande.user.username }}
										</span>
									</div>
		</a>
  {% endfor %}
  	<a class="dropdown-item text-center small text-gray-500" href="{{path('admin_commandes_index')}}">
									Voir toutes les commandes
								</a>
							</div>
						</li>
