
		{% block body %}
		
		{% for message in app.flashes('warning') %}
              <p> {{ message}} </p>
            {% endfor %}
<div class="card-fluid">
       <div class="card-fluid-header">
             <h4> {% if commandes|length == 1 %}
                   Commande {% else %}
             		  Commandes {% endif %}
             						
             </h4>
      </div>
			<div class="card-fluid-body">
				<table class=" table table-fluid">
					<thead>
            	<tr>
								<th>Commande n°</th>
								<th>Date</th>
								<th>	Total</th>
								<th>Téléchargement</th>

							</tr>
          </thead>
						{% if commandes|length ==  0 %}
             <tr><td scope="row">	Aucune commandes actuellement.</td></tr>
					  {% endif %}
          
						
						{% for commande in commandes %}
						
					<tbody>
						<tr>

								<td>
									{{commande.NumeroCommande}}
								</td>
								<td>
									{{ commande.dateCommande|date('d/m/Y') }}
								</td>
							
								{% if  commande.commande.totalPromo is defined and commande.commande.totalPromo is not null %}
									<td class="col">
										{{commande.commande.totalPromo }}
										€
									</td>
									<td class="col">
										{{commande.commande.fraisPort }}
										€
									</td>


								{% endif %}

								<td>
									{{commande.commande.totalCommande}} €
								</td>

								<td>
									<a class="mx-3" href="{{ path('commande_pdf',{'id': commande.id}) }}" target="_blank">
										<i class="fas fa-upload"></i>
									</a>
									<a href="{{ path('show_commande',{'id': commande.id}) }}" >
										<i class="fas fa-edit"></i>
									</a>
									
								</td>

							</tr>
					
           </tbody>	
					 {% endfor %}
				</table>
      </div>

</div>
	{% endblock %}

