{% set totalBijou = 0 %}
{% set totalPromo = 0 %}
{% set port = 0  %}
		{% block body %}
		
		{% for message in app.flashes('warning') %}
              <p> {{ message}} </p>
            {% endfor %}
<div class="card-fluid">
       <div class="card-fluid-header">
             <h4> {% if commandes|length == 1 %}
                   Commande {% else %}
             		  Commandes {% endif %}
             						
             </h4>
      </div>
			<div class="card-fluid-body">
				<table class=" table table-fluid">
					<thead>
            	<tr>
								<th>Commande n°</th>
								<th>Date</th>
								<th>	Total</th>
								<th>Téléchargement</th>

							</tr>
          </thead>
						{% if commandes|length ==  0 %}
             <tr><td scope="row">	Aucune commande actuellement.</td></tr>
					  {% endif %}
          
						
						{% for commande in commandes %}
						
					<tbody>
						<tr>

								<td>
									{{commande.NumeroCommande}}
								</td>
								<td>
									{{commande.dateCommande|format_datetime('full', 'none', locale='fr')|capitalize }}	
								</td>
				          {% for option in commande.commande.optionBijou %}
									
				         
								{% if  commande.commande.isActive == true %}
								  
				            
									<td class="col">
									      {{(option.prix * option.multiplicate  * option.quantite) + option.prix * option.quantite}}
									</td>
									{% else %}
										<td> {{option.prix * option.quantite }}</td>
								 {% endif %}
    
						  {% endfor %}
   
	 <td>
								 €
								</td>
								<td>
									<a class="mx-3" href="{{ path('commande_pdf',{'id': commande.id}) }}" target="_blank">
										<i class="fas fa-upload"></i>
									</a>
									<a href="{{ path('show_commande',{'id': commande.id}) }}" >
										<i class="fas fa-edit"></i>
									</a>
									
								</td>

							</tr>
					
           </tbody>	
					 {% endfor %}
				</table>
      </div>

</div>
	{% endblock %}

