<page  backtop="0mm"  backbottom= "0mm" backleft ="5mm" backright= "5mm">  
  <page_header>
          <table class="header">
          <tr>
          <td width="360"> <img class="img-left" src="https://localhost:8000/build/img/rdv.png">
           <h2>Rendez-vous avec soi</h2>
           
          </td>
          <td width="180"></td>
          <td width="180"></td>
          
           <td width="180">page: [[page_nb]]</td>
         </tr>
         </table>

          <table> 
        <tr>
            <td width="360">
             <h4>Facture n°  {{ facture.NumeroCommande }} </h4>   
              <h4>Date de la commande : {{facture.DateCommande|format_datetime('full', 'none', locale='fr')|capitalize  }}</h4>
            </td>
            <td width="180"></td>
            <td width="180">

      
              <address id="coordonnes">
               <p class="address-top"> 
                <em>{{app.user.gender }}</em> 
                <em>{{facture.commande.facturation.firstname }}</em>
               <em>{{facture.commande.facturation.lastname }}</em>
               </p>
            
               <p class="address-bottom"><em>{{facture.commande.facturation.address }}</em>
               <em>{{facture.commande.facturation.cp }}</em>
                <em>{{facture.commande.facturation.city }}</em>
               <em>{{facture.commande.facturation.country }}</em></p>
              </address>
            </td>
        </tr>
       </table>
  </page_header>
       
        
  
  <page_footer>
  
          <table class="footer_pdf">
          <tr class="footer-tr">
          <td width="250">
           <img class="img" src="https://localhost:8000/build/img/rdv.png" width="30">
           <h6>Rendez Vous Avec Soi</h6>
          </td>
        
          <td width="300">
           <span><img src="https://localhost:8000/build/img/email.png" width="16" style="margin-right:5px;"><em> {{contact_email}}</em></span><br>

           <span><img  src="https://localhost:8000/build/img/adresse.png" width="16" style="margin-right:5px;"> 
            <em>  {{site_street}} {{site_cp}} {{site_city}}</em></span>
          
          </td>  
          
          <td  width="180">
         <span> <img  src="https://localhost:8000/build/img/fixe.png" width="16" style="margin-right:5px;"> <em> {{telephone_fixe}}
           </em></span><br>


          <span> <img  src="https://localhost:8000/build/img/mobile.png" width="16" style="margin-right:5px;">
             <em>  {{telephone_mobile}}</em> </span>

          </td>
          
          
          </tr>

          </table>

    
  </page_footer> 

  <style>
    
    .header {
      border-bottom: 1px solid #888;
      position: relative;
      height: 60px;
      width:1250px;
      left: -28px;
      box-shadow: 0px 2px 0px 2px #ddd;
    }
    .header h3 {
      color: #000;
      font-size: 18px;
      display: block;
      position: relative;
      margin-right: -18px;
    }

    .header img {
      position: relative;
      top: 20px;
      left: 30px;
      width: 30px;
      height: 30px;
      float: left;
      margin: 10px;
    }
     .img {
      position: relative;
    
      left: 30px;
      width: 30px;
      height: 30px;
      float: left;
      margin: 10px;
     }
    #coordonnes {
      float: right;
      position:relative;
      list-style: none;
    }

    .titre {
      top: 130px;
      left: 140px;
      
      font-size: 20px;
      display: block;
      line-height: 25px;
      position: relative;
    }
    
    table#enTete {
      position: relative;
      top: 80px;
      left: 20px;
      text-align: center;
      border-bottom: none;
    }

  
    .corps-body {
      padding-top:55px;
      position:absolute;
    }
   
    .table-commande {
      margin-top: 30px;
      width:1200px;
      text-align: center;
      border: 1px solid #23a2b8;
    }

   .bg-tr {
      background-color: #23a2b8;
      position: relative;
      height:10px
    }
    .bg-tr td {
      color: #fff;
    }
      
    .table-commande td {
      padding:10px;

    }


    table#total {
     border: 0px 1px 1px 1px solid #23a2b8;
    
      margin-top:  10px;
     position: relative;
     padding: 13px;
   
    }


    table#total td {
      height: 20px;
    }

    .total-commande {
      margin-top: 50px;
      padding: 20px;
      margin-left: 435px;
    }

    .footer_pdf {
       border-top: 1px solid #888;
      width:1250px;
      height: 30px;
      position:relative;
      margin-bottom:0px;
      color: #888;
      left: -28px;
      padding:0px 25px 25px 25px;
     
    }
    .footer_tr {
      padding: 5px 0px 0px 0px;
    }

    .float-right {
      float: right;
      text-decoration: none;
      width: 50%;
      display: block;
      position: relative;
    }
   .text-right {
      text-align: right;
   }
   .text-left {
     text-align: left;
   }
    
    .img-left {
      float: left;
      color: #000;
    }
    .address-top {
      padding-top: 55px;
      margin-bottom:-10px;
    }
    .address-bottom{
      top: 0;
    }


  </style>
 

    <div class="corps-body">
       
      
      {% if facture.commande.optionBijou is defined and facture.commande.optionBijou is not null %}
        <h5 class="titre">Articles</h5>


        <table class="table-commande">
          <thead>
           <tr class="bg-tr">
             <td width="110"> Réference</td>
             <td width="110">Quantité</td>
             <td width="110">taille</td> 
             <td width="110">P.U </td>
             <td width="110">Total</td>
             
           </tr>
          </thead>
          {% for option in facture.commande.optionBijou  %}
           <tbody>
         
            <tr>
              <td class="color">{{ option.reference }}</td>
              <td class="color"> {{ option.quantite }} </td>
              <td class="color"> {{ option.taille }}</td>
             {% if option.bijou.promoIsActive ==  true %}
         
             <td class="color">{{ (option.prix * option.bijou.multiplicate )|number_format(2) }}</td>
             {% else %}
                    <td class="color">{{ (option.prix)|number_format(2)}}</td>
             {% endif %}
               {% if option.bijou.promoIsActive ==  true %}
         
             <td class="color">{{ ((option.prix * option.bijou.multiplicate) * option.quantite)|number_format(2) }}</td>
             {% else %}
                    <td class="color">{{ (option.prix* option.quantite)|number_format(2) }}</td>
             {% endif %}
            </tr>
            </tbody>
          {% endfor %}
        </table>

        <table id="total" align="right">
            {% for option in facture.commande.optionBijou %}
           
           
            
                 {% if option.bijou.promoIsActive %}
                   {% set port = option.bijou.port %}
                <tr>  <td colspan="4"> Sous Total :</td> <td class="text-right">{{(facture.commande.totalCommande - port)|number_format(2)}} € </td></tr>
                <tr>  <td colspan="4">Frais de livraison : </td> <td class="text-right"> {{port|number_format(2)}}  € </td>  </tr>
            {% endif %}
                     {% endfor %}
               <tr> <td colspan="4">Total  : </td> <td class="text-right"> {{facture.commande.totalCommande|number_format(2) }} € </td></tr>
                 
              
          
          
  
        </table>


      {% endif %}

    
    </div> 
 </page>

