

		{% block body %}
		
		{% for message in app.flashes('warning') %}
              <p> {{ message}} </p>
            {% endfor %}
<div class="card-fluid">
       <div class="card-fluid-header">
             <h4> {% if factures|length == 1 %}
                   Facture {% else %}
             		  Factures {% endif %}
             						
             </h4>
      </div>
			<div class="card-fluid-body">
				<table class=" table table-fluid">
					<thead>
            	<tr>
								<th>Facture n°</th>
								<th>Date</th>
								
							
								{# {% if facture.commande.totalPromo is defined %}
																																																																										                <th class="col-2">Promo</th>
																																																																										                <th class="col-2">Port</th>
																																																																										               {% endif %} 
																																																																										            #}

								<th>	Total</th>
								<th>Téléchargement</th>

							</tr>
          </thead>
						{% if factures|length ==  0 %}
             <tr><td scope="row">	Aucune facture actuellement.</td></tr>
					  {% endif %}
          
						
						{% for facture in factures %}
						
					<tbody>
						<tr>

								<td>
									{{facture.NumeroCommande}}
								</td>
								<td>
									{{ facture.dateCommande|date('d/m/Y') }}
								</td>
							
								{% if  facture.commande.totalPromo is defined and facture.commande.totalPromo is not null %}
									<td class="col">
										{{facture.commande.totalPromo }}
										€
									</td>
									<td class="col">
										{{facture.commande.fraisPort }}
										€
									</td>


								{% endif %}

								<td>
									{{facture.commande.totalCommande}} €
								</td>

								<td>
									<a class="mx-3" href="{{ path('facture_pdf',{'id': facture.id}) }}" target="_blank">
										<i class="fas fa-upload"></i>
									</a>
									<a href="{{ path('show_facture',{'id': facture.id}) }}" >
										<i class="fas fa-edit"></i>
									</a>
									
								</td>

							</tr>
					
           </tbody>	
					 {% endfor %}
				</table>
      </div>

</div>
	{% endblock %}
