{% extends 'base.html.twig' %}

		{% block body %}

			
			<div class="row flex-row mt-5">


				<div class="col-3">
					<h1>Facture  </h1>
					<p class="">Date: 	{{facture.dateCommande|date('d-m-Y') }}	</p>
					<p class="">
						Numero de commande:
						{{ facture.numeroCommande }}
					</p>
				</div>
				<div class="col-3 center mt-5">
					<h3>
						Adresse livraison
					</h3>

					<p class="">
						{{facture.commande.livraison.lastname }}
						{{facture.commande.livraison.firstname }}
					</p>
					<p class="">

						{{facture.commande.livraison.address }}
					</p>
					<p class="">
						{{facture.commande.livraison.cp }}

						{{facture.commande.livraison.city }}
						{{facture.commande.livraison.country }}
					</p>


				</div>
						<div class="col-3 center mt-5">
					<h3>
						Adresse facturation
					</h3>

					<p class="">
						{{facture.commande.facturation.lastname }}
						{{facture.commande.facturation.firstname }}
					</p>
					<p class="">

						{{facture.commande.facturation.address }}
					</p>
					<p class="">
						{{facture.commande.facturation.cp }}

						{{facture.commande.facturation.city }}
						{{facture.commande.facturation.country }}
					</p>


				</div>
			</div>

			<div class="row">

				{% if facture.commande.optionBijou is defined and facture.commande.optionBijou is not null %}
       
					<table class="table-fluid">


						<thead class="table-thead">
							<tr>
								<th> {{'Référence'}}</th>
								<th>	Quantité	</th>
				        <th> Taille</th>
					      <th> P.U</th>
								<th>	Sous total</th>
							</tr>
						</thead>
						<tbody class="table-tbody">
							{% for option in facture.commande.optionBijou  %}
							 
									<tr>
									<td>	{{ option.reference }}	</td>
								
									<td>{{ option.quantite }}</td>
									<td>	{{option.taille}}</td>
										{% if option.bijou.promoIsActive == true %}
										<td>{{(option.prix* option.bijou.multiplicate)|number_format(2)}}
										 <td>{{((option.prix* option.bijou.multiplicate) * option.quantite)|number_format(2) }}</td>
										 {% else %}
											 			<td>{{option.prix|number_format(2)}}</td>
									<td>
										{{(option.prix * option.quantite)|number_format(2)}}
									</td>
										{% endif %}
							
									</tr>
							{% endfor %}
							
							
					</tbody>
					<tfoot>	 
					{% for option in facture.commande.optionBijou  %}
									
									 {% if option.bijou.promoIsActive == true %}		
								
							 <tr><dl colspan="4">Sous Total de la commande : </dl><dt> {{(facture.commande.totalCommande - option.bijou.port)|number_format(2)}}</dt>
						  <dl colspan="4"> Frais de livraison</dl><dt> {{option.bijou.port|number_format(2)}}</dt>	</tr>
							{% endif %}	
							
							   {% endfor %}
					  
							</tfoot>
			
					</table>
             
				{% endif %}
	</div>
				<div class="d-flex flex-row-reverse float-right">
					<div class="col-12 mx-4" id="total">

						TOTAL COMMANDE : {{facture.commande.totalCommande}} €
					</div>

		      </div>
			 
			
			<a class="btn btn-telechargement" href="{{ path('facture_pdf',{'id': facture.id}) }}"  target="_blank">
										<i class="fas fa-upload"></i> {{'téléchargement facture'|upper }}
								  	</a>
		<div class="row mt-5">
				<div class="col-6">
					<a class="btn btn-primary" href="{{path('account_profile')}}">
						Retour
					</a>
				</div>
			</div>
      
		{% endblock %}
