{% extends 'base.html.twig' %}

		{% block body %}

			
			<div class="row flex-row mt-5">


				<div class="col-6">
					<h1>Commande  </h1>
					<p class="">Date: 	{{facture.dateCommande|date('d-m-Y') }}	</p>
					<p class="">
						Numero de commande:
						{{ facture.numeroCommande }}
					</p>
				</div>
				<div class="col-6 center">
					<h1>
						Adresse Client
					</h1>

					<p class="">
						{{facture.commande.facturation.lastname }}
						{{facture.commande.facturation.firstname }}
					</p>
					<p class="">

						{{facture.commande.facturation.address }}
					</p>
					<p class="">
						{{facture.commande.facturation.cp }}

						{{facture.commande.facturation.city }}
						{{facture.commande.facturation.country }}
					</p>


				</div>
			</div>

			<div class="row">

				{% if facture.commande.optionBijou is defined and facture.commande.optionBijou is not null %}
       
					<table class="table-fluid">


						<thead class="table-thead">
							<tr>
								<th>
								 {{'réference'|upper}}
								</th>
								<th>
									QUANTITE
								</th>
										{% for option in facture.commande.optionBijou  %}
								{% if option.taille is not null %}
									<th>
										TAILLE
									</th>
								{% endif %}
								{% endfor %}
								<th>
									P.U
								</th>

								<th>
									MONTANT TTC
								</th>
								<th> {{'téléchargement'|upper }}</th>
							</tr>
						</thead>
						<tbody class="table-tbody">
							{% for option in facture.commande.optionBijou  %}
							 
								<tr>
	             {#   <td><img src="{{vich_uploader_asset(option.bijou,'imageFile')}}" width="40"></td>  #}
									<td>
										{{ option.reference }}
									</td>
								
									<td>
										{{ option.quantite }}
									</td>
									<td>
										{{option.taille}}
									</td>


									<td>
										{{ option.prix }}
									</td>

									<td>
										{{option.prix * option.quantite}}

									</td>
								{% endfor %}
								 <td> 
                   	<a class="mx-3" href="{{ path('facture_pdf',{'id': facture.id}) }}" target="_blank">
										<i class="fas fa-upload"></i>
									</a>

										<a href="{{ path('edit_commande',{'id': facture.id}) }}" >
										<i class="fa fa-edit"></i>
									</a>
								 </td>
							</tr>

						</tbody>
					</table>


				{% endif %}
			</div>
			{% if facture.commande.promo is defined and facture.commande.promo is not null %}
				<div class="row mt-4">

					<h3 class="titre">
						Articles en promotion
					</h3>


					<table id="entity">
						<tr>
							<td width="180">
								DESIGNATION
							</td>
							<td width="110">
								QUANTITE
							</td>
							<td width="100">
								P.U
							</td>
							<td width="180">
								MONTANT REDUCTION
							</td>
							<td width="105">
								MONTANT TTC
							</td>
						</tr>
						{% for promo in facture.commande.promo %}
							<tr>
								<td class="color">
									{{ promo.reference }}
								</td>
								<td class="color">
									{{ promo.quantite }}
								</td>
								<td class="color">
									{{promo.horsPromoTTC }}
									€
								</td>

								<td class="color">
									-
									{{promo.prixReduit}}
									€
								</td>
								<td class="color">
									{{promo.totalPromo}}
									€
								</td>


							</tr>
						</table>

						<table id="total">
							<tr>

								<td width="150">
									REDUCTION
									{{  promo.reduction.valeur }}
									%
								</td>
								<td class="color" width="60">
									{{promo.prixReduit }}
									€
								</td>
							</tr>
							<tr>
								<td width="150">
									FRAIS DE LIVRAISON
								</td>
								<td class="color" width="60">
									{{facture.commande.fraisPort }}
									€
								</td>
							</tr>
							<tr>
								<td width="150">
									TOTAL TTC
								</td>

								<td class="color" width="60">
									{{facture.commande.totalPromo * promo.quantite + facture.commande.fraisPort }}
									€
								</td>
							</tr>
						</table>


					{% endfor %}
				</div>
			{% endif %}
			{% if facture.commande.bijou is defined and facture.commande.bijou is not null %}
				<div class="d-flex flex-row-reverse">
					<div class="col-5 mx-5" id="total">

						TOTAL COMMANDE :

						{{facture.commande.totalCommande}}€
					</div>

				</div>
			{% endif %}
			<div class="row mt-5">
				<div class="col-6">
					<a class="btn btn-primary" href="{{'user_facture'}}">
						Retour
					</a>
				</div>
			</div>

		{% endblock %}
