{% extends 'base.html.twig' %}

		{% block body %}

			
			<div class="row flex-row mt-5">


				<div class="col-3">
					<h1>Facture  </h1>	
					 <p class=""><strong>Numero de commande:	{{ facture.numeroCommande }}</strong>	</p>
					<p class=""><strong><em>Commandé le: 	{{facture.dateCommande|format_datetime('full', 'none', locale='fr')|capitalize }}	</em></strong></p>
						<p class=""><strong><em>Expédié le: 	{{facture.dateExpedition|format_datetime('full', 'none', locale='fr')|capitalize}}</em></strong>	</p>
				
				</div>
				<div class="col-3 center mt-5">
					<h3>
						Adresse livraison
					</h3>

					<p class="">
					  {{app.user.gender}}
						{{facture.commande.livraison.lastname }}
						{{facture.commande.livraison.firstname }}
					</p>
					<p class="">

						{{facture.commande.livraison.address }}
					</p>
					<p class="">
						{{facture.commande.livraison.cp }}

						{{facture.commande.livraison.city }}
						{{facture.commande.livraison.country }}
					</p>


				</div>
						<div class="col-3 center mt-5">
					<h3>
						Adresse facturation
					</h3>

					<p class="">
						{{app.user.gender}}
						{{facture.commande.facturation.lastname }}
						{{facture.commande.facturation.firstname }}
					</p>
					<p class="">

						{{facture.commande.facturation.address }}
					</p>
					<p class="">
						{{facture.commande.facturation.cp }}

						{{facture.commande.facturation.city }}
						{{facture.commande.facturation.country }}
					</p>


				</div>
			</div>

			<div class="row">

				{% if facture.commande.optionBijou is defined and facture.commande.optionBijou is not null %}
       
					<table class="table-fluid">


						<thead class="table-thead">
							<tr>
								<th> {{'Référence'}}</th>
								<th>	Quantité	</th>
				        <th> Taille</th>
					      <th> P.U</th>
								<th>	Sous total</th>
							</tr>
						</thead>
						<tbody class="table-tbody">
							{% for option in facture.commande.optionBijou  %}
							 
									<tr>
									<td>	{{ option.reference }}	</td>
								
									<td>{{ option.quantite }}</td>
									<td>	{{option.taille}}</td>
										{% if option.bijou.promoIsActive == true %}
										<td>{{(option.prix* option.bijou.multiplicate)|number_format(2)}}
										 <td>{{((option.prix* option.bijou.multiplicate) * option.quantite)|number_format(2) }}</td>
										 {% else %}
											 			<td>{{option.prix|number_format(2)}}</td>
									<td>
										{{(option.prix * option.quantite)|number_format(2)}}
									</td>
										{% endif %}
							
									</tr>
							{% endfor %}
							{% for option in facture.commande.optionBijou  %}
									
									 {% if option.bijou.promoIsActive == true %}		
								
							 <tr><td></td><td></td><td></td><td style="text-align:right">Sous Total de la commande : </td><td> {{(facture.commande.totalCommande - option.bijou.port)|number_format(2)}}</td></tr>
						 <tr><td></td><td></td><td></td><td style="text-align:right"> Frais de livraison:  </td><td>{{option.bijou.port|number_format(2)}}</td>	</tr>
							 <tr><td></td><td></td><td></td><td style="text-align:right">TOTAL COMMANDE :</td><td>	 {{(facture.commande.totalCommande)|number_format(2)}} €</td></tr>
							{% endif %}	
							
							   {% endfor %}
							
					</tbody>
						 	
			
					</table>
             <table class=" table">
				
						 </table>
				{% endif %}
	</div>
				<div class="row">
				<div class="col-6">
					<a class="btn btn-primary" href="{{path('account_profile')}}">
						<i class="fa fa-chevron-left"> </i> Retour
					</a>
				</div>
			
			<a class="btn btn-telechargement" href="{{ path('facture_pdf',{'id': facture.id}) }}"  target="_blank">
										<i class="fas fa-upload"></i> {{'téléchargement facture'|upper }}
								  	</a>

			
		
      
		{% endblock %}
