{% extends 'admin_base.html.twig' %}
{% block title %}Edit article{% endblock %}
{% block body %}
  <div class="container">
    <h1>Edit Article</h1>
    {{ include('admin/article/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="row flex-row justify-content-around">
      <div class="col-4">
        <a class="btn btn-secondary" href="{{ path('admin.article.index') }}">back to list</a>
      </div>
      <div class="col-4">
        {{ include('admin/article/_delete_form.html.twig') }}
      </div>
    </div>
  {% endblock %}
{% block javacripts %}
 {{ parent()}}
{{ encore_entry_script_tags('select' )}}


{% endblock %}
