{% extends 'admin_base.html.twig' %}
{% block title  'Liste des articles' %}
  {% block body %}
    <div class="container">
      <div class="row">
        <h1>
          Liste des articles
        </h1>
        <table class="table-fluid table-fluid-index">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
               <th> image</th>
              <th>actions</th>
            </tr>
          </thead>
          <tbody>
            {% for article in articles %}
              <tr>
                   <td>{{ article.id }}</td>
                   <td>{{ article.title }}</td>           
                   <td>
                        {% if article.filename %}
                             <img width="150" class="img-first img-fluid" src="{{ vich_uploader_asset(article, 'imageFile')}}">
                        {% endif %} 
                   </td>
                   <td>
                       <a class="btn btn-info mt-1" href="{{ path('admin.article.edit', {'id': article.id}) }}"><i class="fas fa-edit"></i></a>
                       {{ include('admin/article/_delete_form.html.twig') }}
                     </td>
              </tr>
            {% else %}
              <tr>
                  <td colspan="4">Il n'y pas d'articles actuellement </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
       
        
        </div>
          <div class="row">
          <a class="btn btn-primary" href="{{ path('admin.article.new') }}"><i class="fas fa-plus-circle"></i> Nouveau</a>

          <div class="col-sm-12">
							<div class="navigation float-right mr-5">
                     {{ knp_pagination_render(articles) }}
             </div>
         </div>
          </div>
      </div>
    {% endblock %}
  