{% extends 'admin_base.html.twig' %}
		{% block title %}
			Editer Séance
		{% endblock %}

		{% block body %}
			<div class="container">
			<div class="row">
				<h1 class="mx-3">	Editer Séance
				</h1>
				</div>
				{{ form_start(form) }}
				
					
						{% include 'admin/seance/_form.html.twig' %}
					
				
		
				{{ form_end(form) }}

			</div>

		{% endblock %}


		{% block javascripts %}
			{{ parent() }}
		 {{ encore_entry_script_tags('seance' )}}
			{{ encore_entry_script_tags('select' )}}
		{% endblock %}


