{% extends 'admin_base.html.twig' %}

{% block title %}Seances index{% endblock %}

{% block body %}
<div class="container">
<div class="row">
    <h1 class="mx-3">Liste des Séances</h1>

    <table class="table-fluid table-fluid-index">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seance in seances %}
            <tr>
                <td>{{ seance.id }}</td>
                <td>{{ seance.title }}</td>
                <td>{{ seance.description|u.truncate(120, '...')|raw }}</td>
               
                
                <td>
                   
                    <a class="btn btn-info" href="{{ path('admin_seance_edit', {'id': seance.id}) }}"><i class="fa fa-edit"></i></a>
                    {{ include('admin/seance/_delete_form.html.twig' )}}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_seance_new') }}"><i class="fa fa-plus-circle"></i> Nouveau</a>

    </div>
    </div>
{% endblock %}
