{% extends 'admin_base.html.twig' %}
		{% block title %}
			Editer Séance
		{% endblock %}

		{% block body %}
			<div class="container-fluid">
				<h1>	Editer Séance
				</h1>
				{{ form_start(form) }}
				<div class="row flex-row mb-3">
					<div class="col-6">
						{% include 'admin/seance/_form.html.twig' %}
					</div>
					<div class="col-5">
						{% include 'admin/seance/navbar_right.html.twig' %}
					</div>
				</div>
				<div class="row mt-4 mb-3">
					<div class="col-3 mb-4">
						<a class="btn btn-primary" href="{{ path('admin_seance_index') }}">
							<i class="fas fa-save"></i>
							Retour vers la liste
						</a>
					</div>
					
					<div class="col-3">
						<button type="submit" class="btn btn-success">
							<i class="fas fa-save"></i>
							Enregister
						</button>
					</div>
				</div>
				{{ form_end(form) }}

			</div>

		{% endblock %}


		{% block javascripts %}
			{{ parent() }}
		{{ encore_entry_script_tags('seance' )}}
			{{ encore_entry_script_tags('select' )}}
		{% endblock %}
