{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    <h1>Seance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seance.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ seance.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ seance.description }}</td>
            </tr>
            <tr>
                <th>Prix_adulte</th>
                <td>{{ seance.adulte }}</td>
        
            <tr>
                <th>Prix_enfant</th>
                <td>{{ seance.enfant }}</td>
            </tr>
           
        </tbody>
    </table>

    <a href="{{ path('admin_seance_index') }}">back to list</a>

    <a href="{{ path('admin_seance_edit', {'id': seance.id}) }}">edit</a>

    {{ include('admin/seance/_delete_form.html.twig') }}
{% endblock %}
