	
			<li class="nav-item dropdown no-arrow mx-1">
							<a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-envelope fa-fw"></i>
								<!-- Counter - Messages -->
								<span class="badge badge-danger badge-counter">
									 {{messageCount }}
								</span>
							</a>
							<!-- Dropdown - Messages -->
							<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
								<h6 class="dropdown-header">
									Messagerie
								</h6>
								{% for contact  in contacts %}	
								<a class="dropdown-item d-flex align-items-center" href="{{path('admin_contact_show', {'id': contact.id}) }}">
								
									<div class="font-weight-bold">
										<div class="text-truncate">
											{{contact.message}}
										</div>
										<div class="small text-gray-500">
										{{contact.firstname}} {{contact.lastname}} - {{contact.dateMessage|date('d-m-y h:i')}}min
										</div>
									</div>
								</a>
										{% endfor %}
								
								<a class="dropdown-item text-center small text-gray-500" href="{{path('admin_contact_index')}}">
								Lire plus de Messages
								</a>
							
							</div>
</li>
	
  