{% apply inky_to_html|inline_css(source('@styles/foundation-email.css'), source('@styles/email.css') ) %}

<container>
	    <spacer size="16"></spacer>
			<row class="header">
		  		<columns large="4" small="12">
					  <a href="{{url('app_homepage') }}">
						<img src="{{email.image('@img/rdv.png')}}" class="logo" alt="logo_site">
				 	</a>
				</columns>
				<columns large="8" small="12">
				 	<h2>	Rendez-vous avec soi</h2>
					
				</columns>
			</row>
			<row class="content">
				<columns> 
				   <spacer size="30"></spacer>
					<h1 class="title"> <center>	Bonjour {{ name}} 	</center></h1>
					<spacer size="16"></spacer>
					<callout class="secondary">
						<row>
							<columns large="7">
								<p>	<strong>	Mode de paiement</strong>
									<br/>	Par chèque à l'ordre de:<br/>
                   Mme Françoise Forite</p>
								<p>	<strong>commande n°	: </strong>{{numeroCommande}}</p>
								<p><strong>Date d'expédition : </strong> 	{{dateExpedition|format_datetime('short', 'none', locale='fr')|capitalize}}</p>
							</columns>
							<columns large="5">
              	<p><strong>	Adresse Email</strong>
									<br/>
									{{contactEmail}}
								</p>
								<p>	<strong>Adresse de livraison	</strong><br> </p>
								     {{name}} <br>
                     {{ address}}
										 {{cpCity}}
							</columns>
						</row>
					</callout>
					<row>
					<columns class="command-body">
					    	<spacer size="16"></spacer>
				    	<p>	<center>{{message}}	</center>
            	<spacer size="10"></spacer>
						<center> <a class="btn-url" href="{{ url('account_profile')}}"> Facture	</a>
						</center>	</p>
				</columns>
	  	</row>
		 	<row class="footer"> 
	     		<columns>
            <spacer size="20"></spacer>
	      	    <a class="site-name" href="{{ url('app_homepage')}}" >Rendezvousavecsoi.fr</a> 
		     </columns>

		  </row>
</container>


	{% endapply %}
