{% apply inky_to_html|inline_css(source('@styles/foundation-email.css'), source('@styles/email.css') ) %}

<container>
			<row class="header">
				<columns>
					   <a href="{{ url('app_homepage')}}">
              <img src="{{email.image('@img/rdv.png')}}" class="logo" alt="logo_site">
             </a> 
             <h2><center>{{ subject }} 	</center></h2>
			</columns>
			</row>
			<row class="content">
							<columns class="secondary">
							<spacer size="35"></spacer>
							<callout>
								<p>	<strong> Nom :	</strong>
							       {{ name }}	</p>
              	<p><strong>Email : </strong>
									{{ contactEmail}}</p>
								<p><strong> Téléphone :	</strong>
									{{ phone }}
								</p>	
								</callout>
								<spacer size="8"></spacer>
               <h4>	<center>Message</center></h4>	
					
					   <p>{{ messageMail }}</p>
						 <spacer size="10"></spacer>
							</columns>
						
	  	 </row>
		
		  <row class="footer"> 
			<columns>
            <spacer size="20"></spacer>
	      	 <p class="site-name"> Rendezvousavecsoi.fr</p>
		 </columns>

		  </row>
</container>


	{% endapply %}
