{% apply inky_to_html|inline_css(source('@styles/foundation-email.css'), source('@styles/email.css') ) %}

<container>
	<spacer size="16"></spacer>
			<row class="header">
				<columns large="4" small="12">
					<a href="{{url('app_homepage') }}">
						<img src="{{email.image('@img/rdv.png')}}" class="logo" alt="logo_site">
					</a>
				</columns>
				<columns large="8" small="12">
				 	<h2>	Rendez-vous avec soi</h2>
					
				</columns>
			</row>
			<row class="content">
				<columns>
         <spacer size="30"></spacer>
					<h1 class="title">	
          <center>	Merci pour votre commande {{ username }} 	</center>
					</h1>
					<spacer size="16"></spacer>

					<callout class="secondary">
						<row>
							<columns large="7">
								<p>
									<strong>	Mode de paiement</strong>
									<br/>
									Par chèque à l'ordre de:<br/>
                   Mme Françoise Forite

								</p>
								<p><strong>Commande n°	</strong> {{commande.numeroCommande}}</p>
									<p><strong>Date de la Commande 	</strong> {{commande.dateCommande|format_datetime('full', 'none', locale='fr')|capitalize}}</p>
							</columns>
							<columns large="5">
              	<p><strong>Adresse Email</strong>
									<br>
									{{user.email}}
								</p>
								<p>
									<strong>Adresse de livraison	</strong>
									<br>
									{{username }}
									<br>
									{{commande.commande.livraison.address}}
									<br>
									{{commande.commande.livraison.cp}}
									{{commande.commande.livraison.city}}
								</p>

							</columns>
						</row>
					</callout>
					<row>
					<columns class="command-body">
					<spacer size="16"></spacer>
					<h4>	<center>	Détails de votre commande</center></h4>
					</colummns>
				<callout>
					<table style="text-align:center;">
						<tr>
            <center>
							<th><b>Référence</b></th>
							<th><b>	Taille</b></th>
							<th><b> Quantité</b></th>
							<th><b> P.U </b></th>
							<th><b> 	Sous Total </b></th>
              </center>
						</tr>
						{% for comd in commande.commande.optionBijou %}
							<tr><center>
								<td>{{comd.reference}}	</td>
								<td>{{comd.taille}}</td>
								<td>{{comd.quantite}}</td>
							      {% if comd.bijou.promoIsActive ==  true %}
         
             <td>{{ (comd.prix * comd.bijou.multiplicate )|number_format(2) }}</td>
             {% else %}
                    <td>{{ (comd.prix)|number_format(2) }}</td>
             {% endif %}
               {% if comd.bijou.promoIsActive ==  true %}
         
             <td>{{ ((comd.prix * comd.bijou.multiplicate ) * comd.quantite)|number_format(2) }}</td>
             {% else %}
                    <td>{{ (comd.prix* comd.quantite) |number_format(2)}}</td>
             {% endif %}
						 </center>	
            </tr>
           
						{% endfor %}
            </table>
          </callout>
					<callout>
					<table>
						        <table id="total" align="right">
               {% for comd  in commande.commande.optionBijou %}
           
           
            
                 {% if comd.bijou.promoIsActive %}
                   {% set port = comd.bijou.port %}
                <tr>  <td colspan="4"> Sous Total : </td> <td class="text-right">{{(commande.commande.totalCommande - port)|number_format(2)}} € </td></tr>
                <tr>  <td colspan="4">Frais de livraison : </td> <td class="text-right"> {{port|number_format(2)}}  € </td>  </tr>
            {% endif %}
                     {% endfor %}
               <tr> <td colspan="4">Total  : </td> <td class="text-right"> {{commande.commande.totalCommande|number_format(2) }} € </td></tr>
         
        </table>
					</table>
         </callout>
					
           <spacer size="25"></spacer>
					<callout>
					
						<p>
							<center>
								Télécharger votre bon de commande
							</center>
						</p>
            	<spacer size="10"></spacer>
						<center>
							<a class="btn-url" href="{{url('show_facture', {'id' : user.id})}}'">
								Bon de commande
							</a>
						</center>


					</callout>
				</columns>
	  	</row>
		  <row class="footer text-center">
			  <columns large="3">
				<spacer size="20"></spacer>
			  	<a class="btn-login"  href="{{url('account_login')}}" >
					Connexion
				</a>
			  </columns>
		  </row>
</container>


	{% endapply %}
