{% apply inky_to_html|inline_css(source('@styles/foundation-email.css'), source('@styles/email.css') ) %}

<container>
	   <spacer size="16"></spacer>
			<row class="header">
				<columns large="4" small="12">
					<a href="{{url('app_homepage') }}">
						<img src="{{email.image('@img/rdv.png')}}" class="logo" alt="logo_site">
					</a>
				</columns>
				<columns large="8" small="12">
				 	<h2>	Rendez-vous avec soi</h2>
					
				</columns>
			</row>
			<row class="content">
				<columns>
         <spacer size="30"></spacer>
					<h1 class="title">	
          <center>	Bonjour {{app.user.gender}} {{ name}} 	</center>
					</h1>
					<spacer size="16"></spacer>

					<callout class="secondary">
						<row>
							<columns large="7">
							
								<p><strong>Formation  {{ formation }} </strong> 	
                 Le {{date_debut|format_date('short')}} de {{date_debut|format_time('short')}} à {{date_fin|format_time('short')}}
                  
                  </p>
							</columns>
							<columns large="5">
              	<p><strong>	Adresse Email</strong>
									<br/>
									{{contactEmail}}
								</p>
								<p>	<strong>Téléphone</strong> {{phone}} </p>
								   
							</columns>
						</row>
					</callout>
					<row>
					<callout class="command-body">
					
					<p>	<center>{{message}}	</center>	</p>
            	<spacer size="10"></spacer>
						<center>
						
						</center>


					</callout>
				</columns>
	  	</row>
		  <row class="footer text-center">
			  <columns large="3">
				<spacer size="20"></spacer>
			  	<a class="btn-login"  href="{{url('account_login')}}" >
					Connexion
				</a>
			  </columns>
		  </row>
</container>


	{% endapply %}
