{% apply inky_to_html|inline_css(source('@styles/foundation-email.css'), source('@styles/email.css') ) %}

<container>
	<spacer size="16"></spacer>
			<row class="header">
				<columns large="4" small="12">
					<a href="{{url('app_homepage') }}">
						<img src="{{email.image('@img/rdv.png')}}" class="logo" alt="logo_site">
					</a>
				</columns>
				<columns large="8" small="12">
				 	<h2>	Rendez-vous avec soi</h2>
					
				</columns>
			</row>
			<row class="content">
				<columns>
         <spacer size="30"></spacer>
					<h1 class="title">	
          <center>	Bonjour {{commande.commande.livraison.firstname}} {{commande.commande.livraison.lastname}} 	</center>
					</h1>
					<spacer size="16"></spacer>

					<callout class="secondary">
						<row>
							<columns large="6">
								<p>
									<strong>	Mode de paiement</strong>
									<br/>
									Par chèque à l'ordre de:<br/>
                   Mme Françoise Forite

								</p>
								<p>
									<strong>	Numéro de commande	</strong>
									<br/>
									 {{commande.numeroCommande}}
								</p>
							</columns>
							<columns large="6">
              	<p>
									<strong>
										Adresse Email
									</strong>
									<br/>
									{{user.email}}
								</p>
								<p>
									<strong>Adresse de livraison	</strong>
									<br/>
									{{commande.commande.livraison.firstname}}
									{{commande.commande.livraison.lastname}}
									<br/>
									{{commande.commande.livraison.address}}
									<br/>
									{{commande.commande.livraison.cp}}
									{{commande.commande.livraison.city}}
								</p>

							</columns>
						</row>
					</callout>
					<row>
				
			
					<callout>
					
					<p>
							<center>
									Votre commande {{ commande.numeroCommande }} a été éxpédiée. Elle arrivera Bientôt chez vous.	<br>
								Nous sommes à votre disposition pour tous renseignements supplémentaires. <br>
								Votre facture est disponible  dans votre espace personnel en cliquant sur le lien ci-dessous. <br>
								Cordialement L'équipe de rendez-vous-avec-soi.fr
							</center>
					</p>
            	<spacer size="10"></spacer>
						<center>
							<a class="btn-url" href="{{ url('user_facture')}}">
								 Facture
							</a>
						</center>


					</callout>
				</columns>
	  	</row>
		  <row class="footer text-center">
			  <columns large="3">
				<spacer size="20"></spacer>
			  	<a class="btn-login"  href="{{url('account_login')}}" >
					Connexion
				</a>
			  </columns>
		  </row>
</container>


	{% endapply %}
