{{ form_start(form) }}
    {{ form_widget(form) }}

     {% if form.imageFile %}
  <div class="col-4">
  <img width="150" class="img img-responsive" src="{{ vich_uploader_asset(page, 'imageFile')}}">
                    
  </div>   
  

{% endif %}
    <button class="btn btn-success"><i class="fa fa-save"></i> {{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
