{% extends 'admin_base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
<div class="container">
    <h1>Page index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Slug</th>
                <th>Created_at</th>
                <th>Filename</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
             
                <td>{{ page.slug }}</td>
                <td>{{ page.createdAt ? page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td> <img src="{{vich_uploader_asset(page, 'imageFile')}}" alt="" width=150> </td>
                <td>{{ page.updatedAt ? page.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_page_show', {'id': page.id}) }}">show</a>
                    <a href="{{ path('admin_page_edit', {'id': page.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_page_new') }}">Create new</a>
    
    </div>
{% endblock %}
