{% extends 'admin_base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
<div class="container">
<div class="row">
    <h1 class="mx-1">Page index</h1>
  <div class="navigation mt-3">
                     {{ knp_pagination_render(pages) }}
      </div>
</div>
<div class="row">
    <table class="table-fluid table-fluid-index">
        <thead>
            <tr>
                <th colspan="1">Id</th>
                <th>Title</th> 
                <th>Filename</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td colspan="1">{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td> <img src="{{vich_uploader_asset(page, 'imageFile')}}" alt="" width=100> </td>
                <td>{{ page.createdAt ? page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
               
                <td>{{ page.updatedAt ? page.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a  class="btn btn-info mt-2" href="{{ path('admin_page_edit', {'id': page.id}) }}"><i class="fas fa-edit"></i></a>
                     {{ include('admin/page/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     </row>
    <div class="row">
    <a class="btn btn-primary mx-4" href="{{ path('admin_page_new') }}"><i class="fas fa-plus-circle"></i>  Nouveau</a>
    </div>
    </div>
{% endblock %}
