<div class="vertical-nav bg-gradient-primary accordion  mt-4" id="sidebar">
<ul class="sidebar sidebar-dark">
				<div class="mt-5"></div>
				<li class="nav-item ">
				<a class="nav-link" href="{{path('app_homepage')}}"><i class="fas fa-home"></i>
						Accueil site
				</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('admin.category.index')}}">
						<i class="fas fa-list"></i>
						 Navigation Menu
						<span class="sr-only">
							(current)
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#link" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="link">
				      		<img width="16" style="position:relative;margin-top:-5px;" src="{{asset('/build/img/shop.png') }}">
					          	La boutique
					</a>
				
					<ul class="collapse" id="link">
					      <a class="nav-link" href="{{path('admin_boutique_index')}}">
							    <img width="16" style="position:relative; margin-right:5px; margin-top:-5px;" src="{{asset('/build/img/category.png') }}">
							   Les catégories
					    	</a>
               
						   <a href="#link2" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="link2">
							    <img src="{{asset('/build/img/product.png')}}" width="16">	Les Produits 
								</a>   
							
                  <div class="collapse" id="link2">
                     <a class="nav-link" href="{{path('admin_produit_index')}}"><i class="fa fa-list"></i>  Liste des produits</a>
								      <a class="nav-link"  href="{{path('admin_description_produit_index')}}"><i class="fa fa-file-text"></i>  Description des produits</a>
							    </div> 
					       <a  href="#link3" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="link3">
						  		        <i class="fas fa-gem"></i>  Les Bijoux </a>
					    
						              <div class="collapse" id="link3">
						               <a class="nav-link" href="{{path('admin_bijou_index')}}"> <i class="fa fa-list"></i>  Liste des Bijoux	</a>
						               <a class="nav-link" href="{{path('admin_popup_taille_index')}}"><i class="fa fa-thumb-tack"></i>  Tableaux de taille</a> 
												{# 	  <a  class="nav-link" href="{{ path('admin_promo_list' ) }}">
														<img width="24" style="position:relative; margin-right:3px; margin-top:-5px;" src="{{asset('/build/img/discount.svg') }}" >
														 Les Promotions </a> #}
					               </div> 
                
 	        </ul>	 
			  </li>
      

				<li class="nav-item">
					<a href="{{path('admin_page_index')}}" class="nav-link">
						<i class="far fa-file-alt"></i>
						Les pages
					</a>
				</li>
				<li class="nav-item">
					<a href="{{path('admin.article.index')}}" class="nav-link">
						<i class="far fa-file-alt"></i>
						Les articles
					</a>


				</li>

				<li class="nav-item">
					<a href="{{path('admin_seance_index')}}" class="nav-link">
						<i class="fas fa-euro-sign"></i>
						Les seances
					</a>
				</li>
				<li class="nav-item">
					<a href="{{path('admin_formation_index')}}" class="nav-link">
						<i class="fas fa-euro-sign"></i>
						Les formations
					</a>
				</li>
			
        <li class="nav-item">
				   <a href="#link-user"  class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="link-user">
					 	<i class="fas fa-users"></i> Utilisateurs</a>
				 <div class="collapse" id="link-user">
					<a href="{{path('admin_users_commandes')}}" class="nav-link"><i class="fa fa-shopping-cart"></i> 	Utilisateurs commandes</a>
					<a href="{{path('admin_inscrits_seance')}}" class="nav-link"> <img width="30" style="position:relative; margin-right:3px; margin-top:-5px;" src="{{asset('/build/img/seance.svg') }}" >Inscrits aux seances</a>
					<a href="{{path('admin_inscrits_formation')}}" class="nav-link"> <img width="25" style="position:relative; margin-right:3px; margin-top:-5px;" src="{{asset('/build/img/formation_blanc.png') }}" >Inscrits formation</a>
					</div>
				</li>
        
           <li class="nav-item">
					<a href="{{path('admin_comments_list')}}" class="nav-link">
						<i class="fas fa-comments"></i>
						Les commentaires
					</a>
				</li>
		</ul>
		</div>
	
		<div id="content-wrapper" class="d-flex flex-column">
    
			<div id="content">
		
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
	    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4 mt-4"><i class="fa fa-bars mr-2"></i>
		 <small class="text-uppercase font-weight-bold">Menu</small></button>

					<!-- Topbar Search -->
					<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="get" action="{{path('admin_recherche') }}">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small" placeholder="Rechercher un bijou..." aria-label="Search" name="motcle"  aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>

					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none">
							<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-search fa-fw"></i>
							</a>
							<!-- Dropdown - Messages -->
							<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
								<form class="form-inline mr-auto w-100 navbar-search" method="get" action="{{path('admin_recherche') }}">
									<div class="input-group">
										<input type="text" class="form-control bg-light border-0 small" placeholder="Rechercher un bijou" aria-label="Search" name="motcle"  aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search fa-sm"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</li>


               	  {{ render(controller('App\\Controller\\Admin\\AdminCommentController::navComment')) }}
						<!-- Nav Item - Alerts -->
			
							   {{ render(controller('App\\Controller\\Admin\\AdminCommandeController::navMenu', {'limit' : 3})) }}

						<!-- Nav Item - Messages -->
						  {{ render(controller('App\\Controller\\Admin\\AdminContactController::navContact')) }}

						<div class="topbar-divider d-none d-sm-block"></div>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow">
						 {% if is_granted("ROLE_ADMIN")  %}
							<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="mr-2 d-none d-lg-inline text-gray-600 small">
								 {{app.user.firstName}} {{app.user.lastName}}
								</span>
								<img class="img-profile rounded-circle" src="{{vich_uploader_asset(app.user, 'imageFile')}}" width="30">
							</a>
							<!-- Dropdown - User Information -->
							<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
								<a class="dropdown-item" href="{{path('account_profile')}}">
									<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
									Profil
								</a>
							
							
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{path('account_logout')}}">
									<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									Déconnexion
								</a>
							</div>
								{% endif %}
						</li>
					</ul>
				</nav>
